script(type="text/x-template"  id="template-admin-create-news")
	.create.audio-create
		section.create-section
			.wrap
				a(href="#").create-delete Удалить новость

				.create-section-base
					.create-head
						h2.create-title Новая рекламная кампания с оклейкой
					.create-body
						.create-item
							vue-input Название новости
						.create-item
							vue-textarea Текст новости
				.create-section-extra
					.create-head
					.create-item.create-item_load.align-left-center
						vue-button-load


		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Кто видит новость
					.create-body
						
						.create-item.create-item_toggle
							.create-item__text Исключить авто с коррозией
							.create-item__toggle
								vue-toggle
						.create-item.create-item_toggle
							.create-item__text Исключить битые авто
							.create-item__toggle
								vue-toggle

						.create-item
							vue-input Цвет
						
						.create-item
							vue-input Марки авто

						.create-item.create-item_toggle
							.create-item__text Исключить китайские авто
							.create-item__toggle
								vue-toggle
						.create-item.create-item_toggle
							.create-item__text Исключить русские авто
							.create-item__toggle
								vue-toggle
						.create-item
							vue-select Возраст авто


				.create-section-extra
					.create-head
					.create-item.align-left-center
						.create-item__label Доступно <br>автомобилей
						.create-item__count 42
							span /210


				

		.create-button
			vue-button(v-bind:gradient="true") Опубликовать новость