//- //- Шаблон
//- extends ../layout/layout


//- //- Описывам контент
//- block content
script(type="text/x-template"  id="template-admin-news")
	section.news-page
		.wrap
			.news-page-head
				a(href="#").news-page__back
					.news-page__back-button Назад к новостям
				a(href="#").news-page__edit
					vue-button(v-bind:gradient="true") Редактировать новость

			.news-page-content
				h1 Новые рекламные компании
				p.news-page-content__date 14 февраля 2018
				img(src="assets/imgs/image-news1.jpg")

				p Bravo!
				p The cast of Hamilton put on quite a show Friday night on Broadway. But the real highlight happened after the performance was over and some in the crowd — namely VP-elect Mike Pence, who was booed when he entered the theater earlier that evening — were just getting up from their seats.
				p “We have a message for you, sir, and we hope that you will hear us out,” Brandon Dixon, who plays Aaron Burr, called out to Pence before encouraging everyone to get out their phones to record his speech. “We, sir, we are the diverse America who are alarmed and anxious that your new administration will not protect us, our planet, our children, our parents, or defend us and uphold our inalienable rights, sir. But we truly hope that this show has inspired you to uphold our American values and work on behalf of all of us.”