script(type="text/x-template"  id="template-admin-auto")
	.auto
		section.map.auto-map
			.map-head
				.map-head__wrap
					.map-item.map-back
						p.map-back__text Назад к кампаниям
					.map-item.map-search
						input(type="search" placeholder="Ищите адреса и названия").map-search__input
						input(type="submit" value="").map-search__button
				.map-head__wrap
					.map-item.map-warm
						p.map-warm__text Тепловая карта
						.map-warm__toggle
							vue-toggle
					.map-options
						.map-item.map-options-item
							img(src="assets/imgs/icon-views.svg")
							p.map-options-item__text Водителей 
								span 30
						.map-item.map-options-item
							p.map-options-item__text Онлайн
							span 30
			.map-item.map-all
				img(src="assets/imgs/icon-zoomout.svg")
				p.map-all__text Показать все


		.auto-head
			.wrap
				.auto-top
					.auto-top__wrap
						.auto-top-label
							.auto-top-label__image(style="background-image: url('assets/imgs/car.jpg');")
							.auto-top-label__wrap
								.auto-top-label__row
									h2.auto-top-label__title Сбербанк Спасибо
									.auto-top-label__button Активна
								p.auto-top-label__text с 08 февраля по 8 марта 2017
						.auto-top-buttons
							.auto-top-button
								img(src="assets/imgs/icon-load.svg")
								p pdf
							.auto-top-button
								img(src="assets/imgs/icon-link.svg")
								p ots

				.auto-info
				
					.auto-info__wrap
						.auto-info-item
							p.auto-info-item__text Автомобилей оклеено
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Автомобилей оклеиваются
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Сейчас в пути
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Суммарный пробег, км
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Средний возраст авто, лет
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text Средний возраст авто, лет
							span.auto-info-item__number 42


			vue-admin-search
			vue-admin-tabs

				.auto-body
					.auto-body-item
						.wrap
							h2.auto-title Заявки на участие в РК
							vue-table(
				:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]'
			)
					.auto-body-item
						.wrap
							h2.auto-title Участники РК
						vue-table(
				:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]'
			)
					.auto-body-item
						.wrap
							h2.auto-title Заблокированные участники РК
						vue-table(
				:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]'
			)
