script(type="text/x-template"  id="template-admin-create-auto")
	.create.auto-create
		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Новая рекламная кампания с оклейкой
					.create-body
						.create-item
							vue-input Название кампании
						.create-item
							.create-item__wrap
								vue-select Старт кампании
							.create-item__wrap
								vue-select Конец кампании
						.create-item
							vue-input Цвет в приложении
				.create-section-extra
					.create-head
					.create-item.align-left-center
						vue-button-load
						vue-button-load
		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Новая рекламная кампания с оклейкой
					.create-body
						.create-item.create-item_toggle
							.create-item__text Исключить авто с коррозией
							.create-item__toggle
								vue-toggle
						.create-item.create-item_toggle
							.create-item__text Исключить битые авто
							.create-item__toggle
								vue-toggle

						.create-item
							vue-select Цвет

						.create-item
							vue-select Марки авто

						.create-item.create-item_toggle
							.create-item__text Исключить китайские авто
							.create-item__toggle
								vue-toggle
						.create-item.create-item_toggle
							.create-item__text Исключить русские авто
							.create-item__toggle
								vue-toggle

						.create-item
							vue-slider Возраст авто

				.create-section-extra
					.create-head
					.create-item.align-left-center
						.create-item__label Доступно <br>автомобилей
						.create-item__count 42
							span /210
		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Тарифы
					.create-body
						.create-item.create-item_toggle
							.create-item__text Тарифы уже известны
							.create-item__toggle
								vue-toggle
						.create-item
							.create-item__wrap.create-item_input
									vue-input Дневной тариф
									.create-item__label баллов за километр
							.create-item__wrap.create-item_input
									vue-input Ночной тариф
									.create-item__label баллов за километр

		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Горячие улицы
						.create-item__toggle
							vue-toggle
					.create-body
						.create-item
							vue-input Улица
							vue-button-add
						.create-item
							.create-item__wrap.create-item_input
								vue-input Дневной тариф
								.create-item__label баллов за километр
							.create-item__wrap.create-item_input
								vue-input Ночной тариф
								.create-item__label баллов за километр
					.create-head
						h2.create-title Горячие улицы
						.create-item__toggle
							vue-toggle
					.create-body
						.create-item
							.create-item__input
								vue-input Адрес
							.create-item__select
								vue-select Радиус
							vue-button-add
						.create-item
							.create-item__wrap.create-item_input
								vue-input Дневной тариф
								.create-item__label баллов за километр
							.create-item__wrap.create-item_input
								vue-input Ночной тариф
								.create-item__label баллов за километр
						.create-item
							.create-item__input
								vue-input Адрес
							.create-item__select
								vue-select Радиус
							vue-button-add
						.create-item
							.create-item__wrap.create-item_input
								vue-input Дневной тариф
								.create-item__label баллов за километр
							.create-item__wrap.create-item_input
								vue-input Ночной тариф
								.create-item__label баллов за километр

				.create-section-extra

					.create-head
						h2.create-title Точки оклейки
					.create-item.create-item_toggle
							.create-item__text Тарифы уже известны
							.create-item__toggle
								vue-toggle
					.create-item
						vue-input Горячий адрес
						vue-button-add
					.create-item
						vue-textarea Описание

		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Создать кабинет под кампанию
					.create-body
						.create-item
							vue-input Логин
						.create-item
							vue-input Пароль
						.create-item
							vue-input Почта

		.create-button
			vue-button(v-bind:gradient="true") Запустить РК