script(type="text/x-template"  id="template-admin-history")
	section.history.history_empty
		.loading(
			v-bind:class="{'hide' : !loading}"
		)
			#loader 
		.wrap
			.history-head(
			)
				h1.history-head__title Фильтровать <br>по параметрам:
				.history-head__select
					vue-select(
						style="opacity: 0.4; cursor: default !important"
					) Рекламная кампания
				.history-head__select
					vue-select(
						style="opacity: 0.4; cursor: default !important"
					) Город
				//- .history-head__button(
				//- 	style="display: none"
				//- )
				//- 	vue-button-add

			.history-body.notify-popup

				.history-list(
					@scroll="onScoroller"
				)
					div
						.vue-each(
							v-if="history_data"
							v-for="history in history_data"
						)
							// айтемы нотификации
							vue-admin-notify-popup-item(
								:item_history="history"
							)