script(type="text/x-template"  id="template-admin-create-video")
	.create.audio-create
		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Новая Видео-кампания
					.create-body
						.create-item
							vue-input Название кампании
						.create-item
							.create-item__wrap
								vue-select Старт кампании
							.create-item__wrap
								vue-select Конец кампании
				.create-section-extra
					.create-head
					.create-item.align-left-center
						vue-button-load
						vue-button-load
		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Кто слышит рекламу
					.create-body
						.create-item
							vue-select Выбрать марки авто

						.create-item.create-item_toggle
							.create-item__text Исключить китайские авто
							.create-item__toggle
								vue-toggle
						.create-item.create-item_toggle
							.create-item__text Исключить русские авто
							.create-item__toggle
								vue-toggle

						.create-item
							vue-slider Возраст авто

				.create-section-extra
					.create-head
					.create-item.align-left-center
						.create-item__label Доступно <br>автомобилей
						.create-item__count 42
							span /210


		section.create-section
			.wrap
				.create-section-base
					.create-head
						h2.create-title Создать кабинет под кампанию
					.create-body
						.create-item
							vue-input Логин
						.create-item
							vue-input Пароль
						.create-item
							vue-input Почта

				

		.create-button
			vue-button(v-bind:gradient="true") Запустить РК