script(type="text/x-template"  id="template-admin-video")
	.auto
		.video-map
		.auto-head
			.wrap
				.auto-top
					.auto-top__wrap
						.auto-top-label
							.auto-top-label__image(style="background-image: url('assets/imgs/car.jpg');")
							.auto-top-label__wrap
								h2.auto-top-label__title Macdonalds Boom Shakalaka
								p.auto-top-label__text с 08 февраля по 8 марта 2017

				.auto-info
				
					.auto-info__wrap.video-info__wrap
						.auto-info-item
							p.auto-info-item__text VTR
							span.auto-info-item__number 24%
						.auto-info-item
							p.auto-info-item__text Reach
							span.auto-info-item__number 60
						.auto-info-item
							p.auto-info-item__text Incremental reach
							span.auto-info-item__number 20
						.auto-info-item
							p.auto-info-item__text Показатель отказа
							span.auto-info-item__number 42
						.auto-info-item
							p.auto-info-item__text CTR
							span.auto-info-item__number 4.4%
					.auto-top-buttons
						.auto-top__button
							vue-button(v-bind:gradient="true") Скачать все фото
						.auto-top-button
							img(src="assets/imgs/icon-load.svg")
							p pdf

				.audio-bottom
					.audio__wrap.video__wrap
						.audio__left
							.chat-actions
								.chat-actions__item Услышали рекламу (70)
								.chat-actions__item Нажали на точку (42)
								.chat-actions__item Построили маршрут (19)
								.chat-actions__item Построили маршрут (19)
						.video-options
							.video-options__item
								span 1874
								img(src="assets/imgs/icon-views.svg")
							.video-options__item
								span 246
								img(src="assets/imgs/icon-share.svg")
						

		.auto-body
			vue-table(:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]')
