script(type="text/x-template"  id="template-admin-news")
	section.news
		.wrap
			.news-head
				h2.news-head__title Всего 
					span 2 новости
				//-h2.news-head__title Новостей нет
				vue-button(v-bind:gradient="true") Добавить новость

			.news-body
				a(href="#").news-item
					.news-item__wrap
						h2.news-item__title Новые рекламные кампании
						p.news-item__text Bravo!
						p.news-item__text The cast of Hamilton put on quite a show Friday night on Broadway. But the real highlight happened after the performance was over and some in the crowd — namely VP-elect Mike
					.news-item__image(style="background-image: url('assets/imgs/image-news1.jpg');")
				a(href="#").news-item
					.news-item__wrap
						h2.news-item__title Новые рекламные кампании
						p.news-item__text Bravo!
						p.news-item__text The cast of Hamilton put on quite a show Friday night on Broadway. But the real highlight happened after the performance was over and some in the crowd — namely VP-elect Mike
					.news-item__image(style="background-image: url('assets/imgs/image-news1.jpg');")

				//- .news-empty
				//- 	.news-empty__title Новостей пока нет
				//- 	.news-empty__button
				//- 			vue-button(v-bind:gradient="true") Добавить новость