//- template-admin-setting
//- настройки для админки
script(type="text/x-template"  id="template-admin-settings")
    form.settings(@submit.prevent="save", autocomplete="off")
        .loading(v-bind:class="{'hide' : !loading}")
            #loader 
        .settings-block
            .wrap
                h2 Настройки
                .settings-string
                   
                    .settings-select
                        vue-select(
                            v-model="day_tariff_start"
                            :options="day_tariff_start_options"
                            value="day_tariff_start"
                        ) Начало дневного тарифа
                    
                    .settings-select
                        vue-select(
                            v-model="night_tariff_start"
                            :options="night_tariff_start_options"
                            value="night_tariff_start"
                        ) Начало ночного тарифа
                .settings-string
                    
                    .settings-select
                        vue-select(
                            v-model="day_tariff_points_per_km"
                            :options="day_tariff_points_per_km_options"
                            value="day_tariff_points_per_km"
                        )  Дневной тариф
                        p.settings-select__text баллов за километр
                    
                    .settings-select
                        vue-select(
                            v-model="night_tariff_points_per_km"
                            :options="night_tariff_points_per_km_options"
                            value="night_tariff_points_per_km"
                        ) Ночной тариф
                        p.settings-select__text баллов за километр
        .settings-block
            .wrap
                h2 Ссылки в подвале
                
                .settings-string
                    vue-input(value="", 
                        type="input", 
                        
                        v-model="footer_link_vkontakte"
                        :classname='{ "error" : !isSocialValidvk }', 
                        name="footer_link_vkontakte" , placeholder="ВК") ВК 
                .settings-string
                    vue-input(value="", type="input",  v-model="footer_link_instagram"
                        :classname='{ "error" : !isSocialValidinst }', 
                        name="footer_link_instagram" ,  placeholder="Instagram") Instagram
                .settings-string
                    vue-input(value="", type="input",  v-model="footer_link_facebook"
                        :classname='{ "error" : !isSocialValidfb }', 
                        name="footer_link_facebook" , placeholder="Facebook") Facebook
                
                .settings-string
                    vue-input(value="", 
                        type="email", 
                        v-model="footer_link_email_support"
                        :classname='{ "error" : !isEmailValidSup }', 
                        name="footer_link_email_support" , 
                        placeholder="Почта поддержки") Почта поддержки
        .settings-block
            .wrap
                h2 Вход в админку
                
                .settings-string
                    vue-input(value="", 
                        type="input",  
                        v-model="account_login",
                        :classname='{ "error" : !isLoginValid }', 
                        name="account_login",  placeholder="Логин") Логин
               
                .settings-string
                    vue-input(value="", 
                        type="password",  
                        v-model="account_password",
                        :classname='{ "error" : !isPasswordValid }', 
                        name="account_password", 
                        placeholder="Пароль") Пароль
               
                .settings-string
                    vue-input(value="", 
                        type="email", 
                        :classname='{ "error" : !isEmailValid }', 
                        v-model="account_email",
                        name="account_email",  
                        placeholder="Почта") Почта

        //- здесь могли быть ваши последние 10 заходов...
        
        .settings-button
            .wrap.settings-button__wrap
                vue-button(v-bind:gradient="true", :disabled="(!(isPasswordValid &&  isSocialValidvk && isSocialValidfb && isSocialValidinst && isEmailValid && isLoginValid && isEmailValidSup ))") Сохранить