//- дашборд для даминки
script(type="text/x-template"  id="template-admin-dashboard")
	section.companies
		.loading(v-bind:class="{'hide' : !loading}")
			#loader 
		.companies-head
		
			// .. ну и это =)
			vue-admin-create()
		
			// фильтры дл таблицы
			vue-admin-search(
				:drivers_count="drivers_count",
				:drivers_type_active="drivers_type_active"
			)
			// табы - кнопки для масоовыз выборок и ид
			vue-admin-tabs(
				:drivers_type_active="drivers_type_active"
				:drivers_count="drivers_count", 
			)
		// таблица. В нее прокидываем тамии поля таблицы
		// коилчетов всео
		// тип для выбобрки
		.companies-table
			vue-table(
				:table="table_row_items",
				:drivers_count="drivers_count", 
				:drivers_type_active="drivers_type_active"
			)