script(type="text/x-template"  id="template-admin-points")
	.points-block
		.wrap(style="position: relative")
			#points-city
				vue-select(
					url="/location/cities/2017370/list",
					:options="cities"
					v-model="city_id",
					value="city_id"
					placeholder="Все города"
				)
		.points-map#points-map(
			v-show="pointsList.length"
		)
		.wrap
			h2 Точки оклейки
			.points-buttons
				.points-created(
					v-for="item_point in pointsList" 
					@click="openPointWindow(item_point)"
				)
					div(:title="item_point.name ") {{ item_point.name }}
					p(:title="item_point.address") {{ item_point.address }}
					span(:title="item_point.description") {{ item_point.description }}
				
				vue-button-load(
					v-if="city_id && city_id != -1"
					@click.native="openPointWindow(null)"
				)
		div
			vue-admin-points-popup(
				v-if="isOpenPointWindow"
				:selected="selectedPoint"
				:city_id="city_id"
			)