script(type="text/x-template"  id="template-admin-audio")
	.auto.audio
		.auto-map
		.auto-head
			.wrap
				.audio-head__wrap
					.audio-head__left
						.auto-top
							.auto-top__wrap
								.auto-top-label
									.auto-top-label__image(style="background-image: url('assets/imgs/car.jpg');")
									//-.auto-top-label__image.disable(style="background-image: url('assets/imgs/car.jpg');")
									.auto-top-label__wrap
										h2.auto-top-label__title Сбербанк Спасибо
										p.auto-top-label__text с 08 февраля по 8 марта 2017
								.auto-top-buttons
									.auto-info-item
										span.auto-info-item__number 42
										p.auto-info-item__text Точки </br>с рекламой
									.auto-top__button
										vue-button() Редактировать
									.auto-top-button
										img(src="assets/imgs/icon-load.svg")
										p pdf


						.auto-info
							
							.auto-info__wrap
								.auto-info-item
									p.auto-info-item__text Автомобилей оклеено
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Автомобилей оклеиваются
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Сейчас в пути
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Суммарный пробег, км
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Средний возраст авто, лет
									span.auto-info-item__number 42
								.auto-info-item
									p.auto-info-item__text Средний возраст авто, лет
									span.auto-info-item__number 42

					//- .audio-all
					//- 	p.audio-all__title Аудио для всех точек
					//- 	.audio-all__player
					//- 		+player('play',  'sd1sd.waw', '0:18', '13%')
					//- 	.audio-all__button
					//- 		vue-button(v-bind:gradient="true") Загрузить новое

				.audio-bottom
					.audio__wrap
						.audio__left
							.chat-actions
								.chat-actions__item Услышали рекламу (70)
								.chat-actions__item Нажали на точку (42)
								.chat-actions__item Построили маршрут (19)
						.audio-slider
							vue-slider Интервал
						.audio-audio
							.audio-audio__label Аудио
							//- +player('play',  'sd1sd.waw', '0:18', '13%')
						.audio-button
							vue-button(v-bind:gradient="true") Загрузить новое
			
			.audio-body
				vue-table(
				:data='[{"id":1,"auto":"1auto","gid":"7gid","num":"2num","km":"1km","date":"1date","driver":"driver"},{"id":2,"auto":"3auto","gid":"4gid","num":"2num","km":"3km","date":"4date","driver":"driver"},{"id":3,"auto":"6a2uto","gid":"9gid","num":"2num","km":"3km","date":"2date","driver":"1driver"}]')

					

