//- //- Шаблон
//- extends ../layout/layout


//- //- Описывам контент
//- block content
.wrap
    #components-demo
        h2 Инпуты
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-input(value="Текстовое значение", type="input", name='32' , placeholder="Плейсх1олдер") Виталя14
            .styleguide__wrap
                vue-input(value="Lorem ispum ololos1h", type="password", name='321' , placeholder="Плейсхолде1р") Виталя21
            .styleguide__wrap
                vue-textarea(value="Lorem ispum ololo2sh", name='322' , placeholder="Плейсхолде1р") Виталя2
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-textarea(value="", name='3223' , placeholder="Плейсхолде1р") Виталя2
        
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-checkbox(v-bind:checked="false") Олег
            .styleguide__wrap
                vue-checkbox(v-bind:checked="false") 1
            .styleguide__wrap
                vue-checkbox(v-bind:checked="true") Виталя
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-toggle(v-bind:checked="true") Костя
            .styleguide__wrap
                vue-toggle(v-bind:checked="false") Вася
        .flex.styleguide__wrap
            .styleguide__wrap
                vue-calendar
            .styleguide__wrap
                vue-calendar

        h2 Кнопки
        .flex
            .styleguide__wrap
                vue-button(v-bind:gradient="true") Вилой раз
        .flex
            .styleguide__wrap
                vue-button Пальцем в глаз

            .styleguide__wrap
                vue-button-add
        .flex
            .styleguide__wrap
                vue-button-add
        .flex
            .styleguide__wrap
                vue-button-video
        .flex
            .styleguide__wrap
                vue-button-video
            .styleguide__wrap
                vue-button-load
        .flex
            .styleguide__wrap
                vue-button-load

        h2 Селекты
        .flex
            .styleguide__wrap
                vue-slider sadasd
            .styleguide__wrap
                vue-slider sadasd
        .flex
            .styleguide__wrap
                vue-slider sadasd
            .styleguide__wrap
                vue-select sadasd
        .flex
            .styleguide__wrap
                vue-select sadasd
        .flex
            .styleguide__wrap
                vue-select sadasd
        .flex
            .styleguide__wrap
                vue-select
            .styleguide__wrap
                vue-select-multi
        .flex
            .styleguide__wrap
                vue-select-multi
        .flex
            .styleguide__wrap
                vue-select-multi
        .flex
            .styleguide__wrap
                vue-select-multi
                
        h2 Плеер
        .flex
            .styleguide__wrap
                vue-player

        h2 Table
            vue-table