script(type="text/x-template"  id="template-admin-create")
	.companies-top
		.wrap.companies-top__wrap
			form.companies-top-form
				.companies-top__select
					vue-select(
						:options="filterRKOptions",
						v-model="advt_campaigns"
						value="advt_campaigns"
						placeholder="Выбрать"
						:allowClose="true"
						:ajaxload="true"
					) Рекламная кампания
				.companies-top__select
					vue-select(
						:options="filterRNOptions"
						v-model="advt_campaign_types",
						value="advt_campaign_types"
						placeholder="Выбрать"
						:disabled="filterRNDisbled"
						:ajaxload="true"
					) Рекламный носитель
				.companies-top__select
					vue-select(
						:options="filterCOptions"
						v-model="advt_campaign_cities",
						value="advt_campaign_cities"
						placeholder="Выбрать"
						:disabled="filterCDisbled"
						:ajaxload="true"
					) Город
			.companies-top-button
				vue-button(v-bind:gradient="true", :disabled="true") Создать РК

