script(type="text/x-template"  id="template-admin-search")
	.companies-middle
		.wrap.companies-middle__wrap
			.companies-middle-label
				h2.companies-middle__title {{search_title}}
				p.companies-middle__text ({{search_title_text}} {{drivers_count}})

			//- drivers_type_active
			form.companies-middle-form(
				@submit.prevent="",
				style="padding-right: 41px;"
			)

				.companies-middle__select
					vue-select-multi(
						v-model="auto_marks"
						:value="auto_marks"
						:options="filterMarkOptions"
					) Марка авто

				.companies-middle__select
					vue-select-multi(
						v-model="auto_models",
						:value="auto_models",
						:options="filterModelOptions",
						:disabled="filterModelDisabled"
					) Модель авто

				.companies-middle__select
					vue-select-multi(
						v-model="auto_series",
						:value="auto_series",
						:options="filterBodyOptions",
						:disabled="filterBodyDisabled"
					) Тип кузова

				.companies-middle__select(style="width: 136px;min-width: 136px;")
					vue-select-multi-color(
						v-model="auto_colors"
						:value="auto_colors"
						:options="filterColorOptions"
					) Цвет авто

				.companies-middle__select(style="min-width: 150px; width: 150px; ")
					vue-slider(name="carage") Год выпуска

				.companies-middle__select(style="min-width: 110px; width: 110px; ")
					vue-slider(name="driverage", f="18", t="70") Возраст водителя
					
				.companies-middle__button(v-bind:class="{'open':isOpen}", style="align-self: flex-start; margin-top: 25px;")
					vue-button-add(@click.prevent.native="isOpen=!isOpen")
					.companies-search-anim


		//- .companies-search добавить .open
		.companies-search(v-bind:class="{'open':isOpen}")
			.wrap
				input(type="search", v-model="q", placeholder="Введите имя, марку или гос.номер...")
				//- vue-button 
