script(type="text/x-template"  id="template-admin-tabs")
	div
		.companies-bottom
			.wrap.companies-bottom__wrap
				//- 
				.companies-bottom__item(
						v-if="!is_blocked_list",
						:style="is_active_tabs_css",
						v-on:click="!is_blocked_list&&tabChange(0)", 
						v-bind:class="{'active': tabIndex==0 }"
				) Разослать сообщение
				//-  айтем с блокировой
				.companies-bottom__item(
						v-if="!is_blocked_list",
						:style="is_active_tabs_css",
						v-on:click="tabChange(1)", 
						v-bind:class="{'active': tabIndex==1 }"
				) {{blocked_text}}

				//- :style="is_active_tabs_css",
				.companies-bottom__item(
						v-if="!is_blocked_list",
						:style="is_active_tabs_css",
						v-on:click="!is_blocked_list&&tabChange(2)"
						v-bind:class="{'active': tabIndex==2 }"
				) Скачать фото
				//- 
				.companies-bottom__item(
						v-if="!is_blocked_list",
						:style="is_active_tabs_css",
						v-on:click="!is_blocked_list&&tabChange(3)", 
						v-bind:class="{'active': tabIndex==3 }"
				) Изменить коэффициент
				//- 
		.companies-actions
			.wrap
				.companies-actions__item(
					v-bind:class="{'open': tabIndex==0&& selectedCount }",
					v-on:keypress.ctrl.enter="sendMessages",
				)
					h2 Рассылка
					.companies-actions__textarea
						vue-textarea(
							value="", 
							name='send-messages' , 
							placeholder="Введите сообщение водителю...",
							v-model.trim="textMessage"
							:disabled="!selectedCount"
						) Сообщение водителю
						//- .companies-actions-tags(style="display: none")
						//- 	.companies-actions-tags__item 
						//- 		p Адрес оклейки
						//- 	.companies-actions-tags__item 
						//- 		p Имя водителя
						//- 	.companies-actions-tags__item 
						//- 		p Марка
					vue-button(
						v-bind:gradient="true", 
						@click.native="sendMessages", 
						:disabled="(!selectedCount || textMessage=='')" 
					) {{mess_button_text}}

				.companies-actions__item(
					v-bind:class="{'open': (tabIndex==1 && selectedCount && !is_blocked_list) || ( is_blocked_list)}"
				)
					h2(v-if="!is_blocked_list ") {{blocked_text}}
					.companies-actions__textarea(
						v-if="!drivers_type_active"
					)
						vue-textarea(
							value="", 
							name='send-messages' , 
							placeholder="Причина блокировки...",
							v-model.trim="banMessage"
							:disabled="!selectedCount"
						) Причина блокировки
					.wrap.companies-middle__wrap(v-if="is_blocked_list ")
						.h1 Заблокированные участники РК
						vue-button(
							v-bind:gradient="true", 
							@click.native="(!is_blocked_list?bannedUser(banMessage):unbannedUser(banMessage))", 
							:disabled="(!selectedCount )" 
						) {{blocked_button_text}}
					
					vue-button(
						v-if="!is_blocked_list", 
						v-bind:gradient="true", 
						@click.native="(!is_blocked_list?bannedUser(banMessage):unbannedUser(banMessage))", 
						:disabled="(!selectedCount || banMessage=='')" 
					) {{blocked_button_text}}

				.companies-actions__item(
					v-bind:class="{'open': tabIndex==2 && selectedCount }", 
				)

				//- итем со слайдером
				.companies-actions__item(v-bind:class="{'open': tabIndex==3 && selectedCount }")
					h2 Выберите коэффициент от #[span#companies-actions__label-1 0,1] до #[span#companies-actions__label-2 10]
					//- слайдер
					#coeeff
						vue-slider-line
					vue-button(
						:gradient="true", 
						@click.native="changeCoefficient"
						:disabled="(!selectedCount)"
					) {{coeff_button_text}}