// айтемы нотификацц
script(type="text/x-template")#template-admin-notify-popup-item
	div.notify-popup-content-item
		.flex
			//- Тайтал
			.notify-popup-content-item__date {{ history_date }}
			//- Заголовок
			.notify-popup-content-item__type {{ history_title }}
			//- инфа о водителе
			.notify-popup-content-item__driver.table-item__container
				.table-item
					.table-item__container
						.table-item__avatar(
							v-if="history_driver.auto"
							:style="{ backgroundImage: 'url(' + history_driver.auto.photo + ')' }"
						)
						.table-item__wrap(v-if="history_driver.auto")
							p.table-item__title
								span
									i
										span(style="word-break: break-all;") {{history_driver.auto.mark.name}} 
										span(style="white-space: nowrap") 
											i.colorHex(:style="{ backgroundColor: history_driver.auto.color.code }")
											span(style="white-space: normal;word-break: break-word;padding-right: 10px;}") {{history_driver.auto.model.name }} 
							p.table-item__text
								span {{history_driver.auto.series.name}}, {{history_driver.auto.year}}
			
			//-  Если есть фотографий - то доабвляем и ее в выод
			.notify-popup-content-item__middle
				span(
					v-if="history_data.data&&history_data.data.verification&&history_data.data.verification.photo&&history_data.data.verification.photo.path"
				)
				img(
					v-if="history_data.data&&history_data.data.verification&&history_data.data.verification.photo&&history_data.data.verification.photo.path"
					:src="history_data.data.verification.photo.path"
				)

			//- Причина блокироваки. Только для блокироваки
			.notify-popup-content-item__right.notify-popup-content-item-right(
				v-if="item_history.user&&item_history.user.blocked_reason && item_history.user.blocked"
			) #[div {{ item_history.user.blocked_reason }}]

			//- Кнопки подверждения
			.notify-popup-content-item__right.notify-popup-content-item-right(
				v-if="history_data.data&&history_data.data.verification"
			)
				.table-item__right__conetent
					div(v-if="history_data.data.verification.photo.status==='approved' || history_data.data.verification.photo.status==='success'") #[b Подверждено]
					div(v-if="history_data.data.verification.photo.status==='rejected' || history_data.data.verification.photo.status==='failed'") #[b Отклонено]
					a.notifycation-button(
						v-if="history_data.data.verification.photo.status==='pending'"
						href="#"
						title="Обработать"
						@click.prevent="verificationOpen(history_data)"
					) Обработать


//- сам попап подверждений
script(type="text/x-template")#template-admin-notify-popup
	.wrap.header__wrap
		//- оповещения
		.notify-popup.opened(bubbling-pupup="true")
			.notify-popup-content-title Последние события
			.notify-popup-content
				//-  список нотификаций
				div.notify-popup-content-scroll
					.notify-popup-content-list(
						v-for="item_history in unchecked_notify.last_history"
						v-if="item_history.type=='verification_photo' && item_history.data"
					)
						// айтемы нотификации
						vue-admin-notify-popup-item(
							:item_history="item_history"
						)
				.notify-popup-button
					vue-button(
						v-bind:gradient="true", 
						@click.native="goHistory"
					) Смотреть уведомления
