script(type="text/x-template"  id="template-button")
	//- +button('Без градиента', false, false)
	button.button(v-bind:class="{'button_gr':isGragient, 'disabled': disabled}", :disabled="disabled") #[slot]


script(type="text/x-template"  id="template-button-add")
	button.button-add

script(type="text/x-template"  id="template-button-video")
	.button-video
		.styleguide__wrap
			img(src='/assets/imgs/video-play.svg').video__button
		//- .styleguide__wrap
		//- 	img(src="../assets/imgs/video-pause.svg").video__button
		//- .styleguide__wrap
		//- 	img(src="../assets/imgs/video-repeat.svg").video__button

script(type="text/x-template"  id="template-button-load")
	.styleguide__wrap
		.button-load
			img(src="/assets/imgs/icon-plus.svg").button-load__icon
			p.button-load__text Создать точку
	//- .styleguide__wrap
	//- 	.button-load(style="background-image: url('../assets/imgs/picture.jpg')")
	//- 		.button-load__back
	//- 			img(src="../assets/imgs/icon-basket.svg").button-load__basket

					


				

