//- Текст ареа
script(type="text/x-template"  id="template-textarea")
	//- Миксин для текстареи
	//- @param text, - текст
	//- @param name,  - имя
	//- @param placeholder, - плейсхолдер 
	//- @param classes, - классы
	//- @param isDisabled - дасайблед
	.textarea
		label
			slot
		textarea(
			v-bind:value="value", 
			v-on:input="$emit('input', $event.target.value)", 
			:placeholder="placeholder", 
			:name="name", 
			:disabled="disabled"
		)


//- инпут
script(type="text/x-template"  id="template-input")
	.input(:class="classname")
		label
			slot
		input(
			v-bind:value="value", 
			v-on:input="$emit('input', $event.target.value)", 
			:disabled="disabled",  
			:type="type", 
			:placeholder="placeholder", 
			:name="name"
			:required="required"
		)

//- чекбокс
script(type="text/x-template"  id="template-checkbox")
	.checkbox-wrap.styleguide__wrap
		label.control.control--checkbox
			slot
			input.checkbox(type="checkbox", v-model="isChecked")
			span.control__indicator
	//- +checkbox(true, 'два')
	//- +checkbox(false, 'раз')

//- чекбокс тогглер
script(type="text/x-template"  id="template-toggle")
	.switch-wrap
		label
			i
				slot
			input(type="checkbox",  v-model="isChecked")
			span
				b

	//- +toggle(true, 'Ллейбл')
	//- +toggle(false, 'Лебл')

// календарь
script(type="text/x-template"  id="template-calendar")
	div
		div.datepicker-inline(v-if="type=='div'")
		input.datepicker-inline.form-create__input(v-if="type=='input'")

	//- .datepicker-input
	//- 	+input('Дата', 'text', 'dates', 'дд-мм-гггг')

	//- div.datepicker-range.input-group.input-daterange
	//- 	.flex.flexbox
	//- 		div
	//- 			+input('от', 'text', 'start', 'от')
	//- 		div
	//- 			+input('по', 'text', 'end', 'по')

	//- +calendar()