//- include ../../blocks/player

script(type="text/x-template"  id="template-player")
	.styleguide__wrap
		.player
			.player__wrap
				.player__left
					img(src!="/assets/imgs/player-play.svg").player__icon
					p.player__name name
				p.player__time time
			.player-line
				.player-line__progress(style="width:33% ;")



//- +player('play',  'sdsd.waw', '0:32', '23%')
//- +player('pause',  'sd1sd.waw', '0:18', '13%')
//- +player('repeat',  'sd1sd.waw', '0:12', '73%')