script(type="text/x-template")#template-admin-points-popup
	#points-popup.points-popup(
		bubbling-pupup="true"
	)
		.wrap
			.points-popup__container(
			)
				a.auto-popup-close(
					href="#"
					@click.prevent="showToggle(false)"
				)
					.auto-popup-close__item
					.auto-popup-close__item

				.points-popup-body
					.flex
						.points-popup-form
							h1.h1 Точка оклейки
							.settings-string
								vue-input(value="", 
									type="input",  
									v-model="pointName"
									name="pointname",  placeholder="Название"
								) Название
							.settings-string
								vue-input(value="", 
									type="input",  
									v-model="pointAddress"
									name="pointaddress",  placeholder="Адрес"
								) Адрес
							.settings-string
								vue-textarea(
									value="", 
									v-model="pointText"
									name='pointtext' , 
									placeholder="Введите описание...",
								) Описание
							.settings-string
								.flex
									vue-button(
										v-bind:gradient="true",
										@click.native="save"
									) Сохранить
									vue-button(
										v-if="selected"
										v-bind:gradient="false", 
										@click.native="remove"
									) Удалить точку
						.points-popup-map
							#points-popup-map-set