//- Селект обычнйый
script(type="text/x-template"  id="template-select")
	.select
		label
			span.select-title
				slot
			select(:value="value", placeholder="placeholder", :disabled="disabled", :search="!!(url)", :allowclose="false")
				option(v-if="(!url && !ajaxload)", v-for="option in options", :value="option.value", :selected="!!(value==option.value)") {{ option.text }}

//- Мульти-селект
script(type="text/x-template"  id="template-select-multi")
	.select-multi
		span.select-title
			slot
		select(multiple,  :value="value", @change="setValue()", :disabled="disabled")
			option(v-for="option in options", :value="option.value", :selected="!!(value.indexOf(option.value)+1)") {{ option.text }}

//- Мульти-селект-колор
script(type="text/x-template"  id="template-select-multi-color")
	.select-multi.color
		span.select-title
			slot
		select(multiple,  v-bind:value="value", @change="setValue()",  v-bind:disabled="disabled")
			option(v-for="option in options",  v-bind:value="option.id",  v-bind:data-select2-color="option.color",  v-bind:selected="!!(value.indexOf(option.id)+1)") {{ option.text }}

//- Селект-слайдер
script(type="text/x-template"  id="template-slider")
	.select-slider
		span.select-title
			slot
		.slider-select-wrap
			.slider-select-item(v-on:click="activated", v-bind:class="{'active':isActive}")
				.slider-select-item-label
					span.slider-select-value.slider-select-value-from
					span.slider-select-value.slider-select-value-to
				.slider-select-item-popup(v-bind:class="{'active':isActive}")
					.slider-select-item-label
						span.slider-select-value.slider-select-value-from
						span.slider-select-value.slider-select-value-to
					.slider