socials = 'icomoon'

@font-face {
    font-family: 'icomoon';
    src: url('../../assets/fonts/icomoon/icomoon.eot?l3ls29');
    src: url('../../assets/fonts/icomoon/icomoon.eot?l3ls29#iefix') format('embedded-opentype'),
        url('../../assets/fonts/icomoon/icomoon.ttf?l3ls29') format('truetype'),
        url('../../assets/fonts/icomoon/icomoon.woff?l3ls29') format('woff'),
        url('../../assets/fonts/icomoon/icomoon.svg?l3ls29#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
