﻿[route="chat"]
	.footer
		padding 20px 40px 5px 40px
.footer
	padding 45px 40px
	font-size 14px
	width 100%
	display flex
	justify-content center
	border-top 1px solid #e5e5e5
	&-logo
		margin-right 77px
		@media (max-width: 1200px)
			margin-right 45px
	&__wrap
		display flex
		justify-content space-between
		width 100%
		padding 0
	
	&__item
		display flex
		align-items center
	
	&-socials
		display flex
		align-items center
		margin-right 37px
		&__item
			margin-right 15px
			transition 0.3s opacity
			font-family 'icomoon'
			opacity 1
			-webkit-background-clip text
			-webkit-text-fill-color transparent
			background-image linear-gradient(135deg, black, black)
			transition 0.3s background-image
			&:hover
				background-image linear-gradient(135deg, #3023ae, #c86dd7)
			&:first-child
				font-size 19px
				line-height 20px
			&:nth-child(2)
				font-size 13px
				margin-top 1px
			&:last-child
				margin-right 0
				margin-top -1px
				font-size 22px
	
	&-button
		padding 12px 23px
		border solid 1px #e5e5e5
		border-radius 5px
		transition 0.3s all
		cursor pointer
		&:hover
			color white
			background #e5e5e5
			
	
	&-made
		display flex
		align-items center
		&__text
			color rgba(0, 0, 0, 0.87)
			margin-right 15px