﻿.header
	font-size 14px
	border-bottom 1px solid #e5e5e5
	padding 20px 0
	&__wrap
		display flex
		justify-content space-between
		align-items center
		max-width 1600px
		min-width 1100px
		width: 100vw
	&-admin
		margin-top -3px
		white-space nowrap
	&-selects
		margin-top -5px
		&__item
			width 240px
			&:last-child
				margin-right 0
	
	&__item
		display flex
		align-items center
	
	&-logo
		margin-right 78px
		@media (max-width: 1200px)
			margin-right 45px
	&-nav
		&__list
			display flex
		&__item
			list-style none
			margin-left 20px
			margin-right 20px
			@media (max-width: 1200px)
				margin-left 4px
				margin-right 10px
			text-align center
			// transition 0.3s opacity
			opacity 1
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0
			&:hover
				opacity 0.6
			a
				color black
			&.active
				// letter-spacing: -1px;
				font-weight bold
	&-user
		margin-right 15px
		white-space nowrap
		cursor default
		// &:hover
		// 	opacity 0.7
	
	&-notifications
		margin-right 32px
		position relative
		&__icon
			transition 0.3s all
		&__count
			min-width: 21px;
			height: 21px;
			padding: 0 2px;
			border-radius 50%
			background-color #ff324b
			display flex
			justify-content center
			align-items center
			font-weight bold
			font-size 12px
			color white
			position absolute
			top -12px
			right -18px
		&:hover
			.header-notifications__icon
				opacity 0.7
				transform rotate(-20deg)
	
	&-balance
		color rgba(0, 0, 0, .5)
		margin-right 47px
		@media (max-width: 1200px)
			margin-right 6px
		span
			margin-left 10px
			font-weight bold
			background linear-gradient(122deg, #3023ae, #c86dd7)
			-webkit-background-clip text
			-webkit-text-fill-color transparent
	
	&-logout
		opacity 1
		transition 0.3s opacity
		&:hover
			opacity 0.5


.notify-popup
	z-index 999

	.table-item__right__conetent
		padding-top: 9px;
		padding-bottom 10px
	.table-item__container
		position: relative;
		top: 4px;
	.notify-popup-button
		padding 20px
		padding-top 0
		button
			width 100%
	.notify-popup-content-item-title
		font-size: 14px
		font-weight: bold
		color: #000
		padding-bottom: 0
		width: 50%
		font-size: 14px
		font-weight: bold
		color: rgb(0, 0, 0)
		padding: 0
		margin-bottom: -15px
	.notifycation-button
		margin-top 10px
		width: 120px;
		height: 36px;
		line-height 36px
		vertical-align middle
		text-align center
		border-radius: 5px;
		border-style: solid;
		font-size 14px
		border-width: 1px;
		text-decoration none
		background-image: rgb(255, 255, 255), linear-gradient(107deg, rgb(48, 35, 174), rgb(200, 109, 215));
		background-origin: border-box;
		background-clip: content-box, border-box
		display inline-block
		&:hover
			opacity .9
	&
		position absolute
		background #fff
		right 40px
		top: -9999px
		transition: .3s
		opacity 9
		&.opened
			top: 50px
			opacity 1
		width: 560px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
		&-content
			&-item
				&-right
					.table-item__right__date
						white-space nowrap
			&-list
				padding 20px
				border-top 1px solid rgba(0,0,0,0.1)
				max-height: 400px;
				overflow auto
			&-title
				padding 20px
				font-weight: bold;
				font-size 16px
				line-height 15px
				letter-spacing: normal;
				color: rgb(0, 0, 0);
.notify-popup-content-scroll
	overflow: auto;
	max-height: 40vh;
	min-height: 20px;