﻿*, ::after, ::before
	margin 0
	padding 0
	font-family Roboto,-apple-system,BlinkMacSystemFont,Arial,sans-serif;
	// font-family: 'Verdana', sans-serif
	// font-family: 'Roboto', sans-serif
	-moz-osx-font-smoothing auto
	-webkit-font-smoothing subpixel-antialiased
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box
	text-size-adjust: 100%
	user-zoom: fixed
	// font-display auto
	// font-display block
	font-display swap
	outline 0
	@viewport

a
	text-decoration none
	color black

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea
	-webkit-appearance none
	-moz-appearance none
	-ms-appearance none
	appearance: none
	outline 0
	box-shadow none
	min-height 40px

body
	height: calc(100vh)
	width: calc(100%)




.noUi
	&-target,
	&-target *
		-webkit-touch-callout none
		-webkit-tap-highlight-color rgba(0, 0, 0, 0)
		-webkit-user-select none
		-ms-touch-action none
		touch-action none
		-ms-user-select none
		-moz-user-select none
		user-select none
		-moz-box-sizing border-box
		box-sizing border-box
	&-target
		position relative
		direction ltr
		background-color rgba(0, 0, 0, 0.1)
		border-radius 2px
	&-base
		width calc(100% - 17px)
	&-base,
	&-connects
		width calc(100%)
		height 100%
		position relative
		z-index 1
	&-connects
		overflow hidden
		z-index 0
		border-radius 3px
	&-connect,
	&-origin
		will-change transform
		position absolute
		z-index 1
		top 0
		left 0
		height 100%
		width 100%
		transform-origin 0 0
		-ms-transform-origin 0 0
		-webkit-transform-origin 0 0
		border-radius 2px
html
	&:not([dir="rtl"])
		.noUi-horizontal
			.noUi-origin
				left auto
				right 0
			.noUi-handle
				right -17px
				left auto
.noUi-vertical
	width 18px
	.noUi-origin
		width 0
	.noUi-handle
		width 24px
		height 24px
		left -6px
		top -17px
		box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.2)
		background-image linear-gradient(135deg, #3023ae, #c86dd7)
		border solid 6px #ffffff
		&:after
			top 17px
	.noUi-draggable
		cursor ns-resize
	.noUi-tooltip
		-webkit-transform translate(0, -50%)
		transform translate(0, -50%)
		top 50%
		right 120%
.noUi-horizontal
	height 8px
	margin-right: 11px;
	.noUi-origin
		height 0
	.noUi-handle
		width 24px
		height 24px
		box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.2)
		background-image linear-gradient(135deg, #3023ae, #c86dd7)
		border solid 6px #ffffff
		left -17px
		top -8px
	.noUi-tooltip
		-webkit-transform translate(-50%, 0)
		transform translate(-50%, 0)
		left 50%
		bottom 120%
.noUi-handle
	position absolute
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.2)
	background-image linear-gradient(135deg, #3023ae, #c86dd7)
	border solid 6px #ffffff
	border-radius 50%
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin
	-webkit-transition transform 0.3s
	transition transform 0.3s
.noUi-state-drag
	cursor inherit!important
.noUi-connect
	background-image linear-gradient(93deg, #3023ae, #c86dd7)
.noUi-draggable
	cursor ew-resize
.noUi-active
	box-shadow inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB

[disabled]
	.noUi-connect
		background #B8B8B8
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle
	cursor not-allowed
.noUi-pips,
.noUi-pips *
	-moz-box-sizing border-box
	box-sizing border-box
.noUi-pips
	position absolute
	color #999
.noUi-value
	position absolute
	white-space nowrap
	text-align center
.noUi-value-sub
	color #ccc
	font-size 10px
.noUi-marker
	position absolute
	background #CCC
.noUi-marker-sub
	background #AAA
.noUi-marker-large
	background #AAA
.noUi-pips-horizontal
	padding 10px 0
	height 80px
	top 100%
	left 0
	width 100%
.noUi-value-horizontal
	-webkit-transform translate(-50%, 50%)
	transform translate(-50%, 50%)
.noUi-rtl
	.noUi-value-horizontal
		-webkit-transform translate(50%, 50%)
		transform translate(50%, 50%)
	.noUi-value-vertical
		-webkit-transform translate(0, 50%)
		transform translate(0, 50%)
.noUi-marker-horizontal
	&.noUi-marker
		margin-left -1px
		width 2px
		height 5px
	&.noUi-marker-sub
		height 10px
	&.noUi-marker-large
		height 15px
.noUi-pips-vertical
	padding 0 10px
	height 100%
	top 0
	left 100%
.noUi-value-vertical
	-webkit-transform translate(0, -50%)
	transform translate(0, -50%, 0)
	padding-left 25px
.noUi-marker-vertical
	&.noUi-marker
		width 5px
		height 2px
		margin-top -1px
	&.noUi-marker-sub
		width 10px
	&.noUi-marker-large
		width 15px
.noUi-tooltip
	display block
	position absolute
	border 1px solid #D9D9D9
	border-radius 3px
	background #fff
	color #000
	padding 5px
	text-align center
	white-space nowrap


#header
	order: 0
#footer
	order: 2
#content
	order: 1
	flex-basis: 100%
	margin-top: 0
	padding-top: 0
	width: 100%
	// пример
	@media (max-width: 1380px)
		margin: auto

.main
	width 100%
	flex-grow: 1;

.wrap-height
	min-height: calc(100vh - 75px)

.wrap
	max-width 1600px
	min-width 1100px
	width: 100vw
	padding 0 40px
	margin 0 auto
	position relative
	@media (max-width: 1380px)
		padding 0 10px

.flex
	display flex

#app
	opacity: 0
	transition: 2s
	max-width: 100vw;
	overflow: hidden
transition()
	transition: .3s

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

#app
	display: flex;
	flex-direction: column;
	min-height 100%
	&.offline
		position fixed
		&:after
			content: '';
			position fixed
			left 0
			right 0
			bottom 0
			top 0
			z-index 10
			display block

// загрузка
.loading
	position: fixed
	left: 0
	top: 0px
	bottom: 0
	right: 0
	z-index: 10
	background: rgba(255, 255, 255, .4)
	&.hide
		visibility: hidden
	#loader
		animation: animate 1.5s linear infinite;
		clip: rect(0, 80px, 80px, 40px);
		height: 80px;
		width: 80px;
		position: absolute;
		left: calc(50% - 40px);
		top: calc(50% - 40px);

@keyframes animate {
  0% {
	transform: rotate(0deg)
  }
  100% {
	transform: rotate(220deg)
  }
}
#loader:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}
@keyframes animate2 {
  0% {
	box-shadow: inset #3023ae 0 0 0 17px;
	transform: rotate(-140deg);
  }
  50% {
	box-shadow: inset #3023ae 0 0 0 2px;
  }
  100% {
	box-shadow: inset #3023ae 0 0 0 17px;
	transform: rotate(140deg);
  }
}
// *******************************************************************************


// тут описываем основлые моменты верски, начертания шрифтов, ну и тд.


// *******************************************************************************


// Либы
// @import "../libs/multiselect/selectivity-jquery.styl"

// Лайауты
@import "header.styl"
@import "modal.styl"
@import "footer.styl"
@import "fonts.styl"

// Блоки
@import "../blocks/styleguide-ui.styl"
@import "../blocks/checkbox.styl"
@import "../blocks/select.styl"
@import "../blocks/input.styl"
@import "../blocks/btn-load.styl"
@import "../blocks/textarea.styl"
@import "../blocks/header-cabinet.styl"
@import "../blocks/table.styl"
@import "../blocks/video.styl"
@import "../blocks/calendar.styl"
@import "../blocks/player.styl"
@import "../blocks/switch.styl"
@import "../blocks/button.styl"
@import "../blocks/slider.styl"
@import "../blocks/map.styl"
@import "../blocks/auto-popup.styl"
@import "../blocks/points-popup.styl"

@import "../pages/admin-points.styl"
@import "../pages/admin-race.styl"
@import "../pages/admin-chat.styl"
@import "../pages/admin-settings.styl"
@import "../pages/admin-companies.styl"
@import "../pages/admin-auto.styl"
@import "../pages/admin-audio.styl"
@import "../pages/create.styl"
@import "../pages/news.styl"
@import "../pages/history.styl"

// @import "../blocks/example-textarea.styl"
@import "../../libs/bootstrap-4.1.1/dist/css/modal.styl"
@import "../../libs/bootstrap-4.1.1/dist/css/datepicker.styl"

@import "../../libs/select2/css/select2.styl"
@import "../../libs/offline/offline.styl"

// Страницы
// ** СтайлГайд
@import "../pages/style-guid.styl"
// @import "../pages/index.styl"

