﻿.modal
	&.fade
		&.in
			width 100%
			margin-top: -225px !important;
			top: 50vh !important
	&-backdrop.fade
		background: #000 !important;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	&__wrap
		height 100%
		display flex
		justify-content center
		align-items center
	&-block
		background white
		width 500px
		height 450px
		display flex
		justify-content center
		align-items center
		flex-direction column
		position relative
		padding-top 20px
		
		&-logo
			width 100%
			position absolute
			top 62px
			display flex
			justify-content center

	&-input
		width 380px
		padding-bottom 20px
	
	&__button
		height 40px !important
		width 157px !important
		font-size 14px !important
		font-weight 500 !important
		border-radius 5px !important
		display flex !important
		align-items center !important
		justify-content center	 !important
		transition 0.3s box-shadow !important
		color white !important
		cursor pointer !important
		position relative !important
		border none !important
		background-image linear-gradient(104deg, #3023ae, #c86dd7) !important
		box-shadow 0 5px 10px 0 rgba(144, 19, 254, 0) !important
		&:hover
			box-shadow 0 5px 10px 0 rgba(144, 19, 254, 0.3)
	
	&__link
		font-size 12px
		color #6801c3
		border-bottom 1px solid rgba(104,1,195, 0.3)
		opacity 0.8
		transition 0.3s all
		&:hover
			border-bottom 1px solid transparent
	
	&__row
		margin-top 20px
		display flex
		justify-content space-between
		align-items center
	
	&__title
		padding-bottom 40px
		text-align center
		font-size 20px
	
	&__text
		font-size 14px
		font-weight 500
		margin-right 10px
		color rgba(0, 0, 0, 0.87)

.message
	display flex
	flex-direction column
	align-items center

[data-dismiss="modal"][aria-label="Close"]
	position: fixed
	right: 100px
	top: 100px
	border: 0
	background: transparent
	width: 20px
	height: 20px
	font-size: 22px
	color: rgba(255, 255, 255, 0.501960784)