.companies
	
	// &-head
	// 	padding-bottom 60px
	
	&-top
		&__wrap
			display flex
			justify-content space-between
			align-items flex-end
			padding-top 50px
			padding-bottom 60px
		
		&-form
			display flex

		&__select
			width 196px
			margin-right 37px
			&:last-child
				margin-right 0
	
	&-middle
		&__wrap
			display flex
			justify-content space-between
			align-items center
			padding-bottom 20px
		&-label
			width 250px
			align-self: flex-start;
			padding-top 25px
			@media (max-width: 1200px)
				width 200px
		&-form
			align-items flex-end
			display: flex
			width: calc(100% - 250px)
			@media (max-width: 1200px)
				width: calc(100% - 200px)
			align-items: baseline;
		&__select
			min-width 82px
			width 100%
			margin-right 20px
			display inline-block
			flex-grow: 1			
		
		&__button
			position relative
			height 40px
			&.open
				.companies-search-anim
					height 45px
					bottom -40px
					&:after
						top 0
					&:before
						top 0
				
	
	&-bottom
		border-top solid 1px #d8d8d8
		border-bottom solid 1px #d8d8d8
		
		&__wrap
			display flex
		
		&__item
			width 25%
			padding 20px 0
			text-align center
			font-size 14px
			font-weight 500
			border-left 1px solid #d8d8d8
			cursor pointer
			transition .3s all
			&:last-child
				border-right 1px solid #d8d8d8
			&:hover
				background-color #fafafa
			&.active
				background-color #fafafa
			
			&.disable
				color rgba(0, 0, 0, 0.3)
				pointer-events none
				background-color white
	
	&-table
		padding-bottom 40px
	
	.button-add
		background-image url('../imgs/icon-search.svg')
		background-position center
		background-repeat no-repeat
		&:after
			display none
		&:before
			display none
	
	&-search
		padding 0
		background-color #F5F5F5
		max-height 0
		overflow hidden
		// transition 0.5s all
		&.open
			padding 35px 0
			max-height 1000px
			
		.wrap
			display flex
			flex-direction column
			align-items center
			justify-content center
		input
			border none
			background-color transparent
			width 350px
			height 24px
			text-align center
			font-size 20px
			font-weight 700
			color black
			+placeholder()
				color rgba(0, 0, 0, .35)
				font-size 20px
				font-weight 700
		.button
			margin-top 20px
		
		&-anim
			// background-color #f5f5f5
			// position absolute
			// width 60px
			// height 0px
			// bottom 0px
			// left -10px
			// &:after
			// 	content ''
			// 	position absolute
			// 	width 20px
			// 	height 45px
			// 	border-radius 0px 0px 10px 0px
			// 	left -10px
			// 	top -10px
			// 	background-color white
			// &:before
			// 	content ''
			// 	position absolute
			// 	width 20px
			// 	height 45px
			// 	border-radius 0px 0px 0px 10px
			// 	right -10px
			// 	top -10px
			// 	background-color white
	
	&-actions
		width 100%
		position relative
		overflow hidden
		background-color rgba(0, 0, 0, 0.02)
		&__item
			display flex
			flex-direction column
			align-items center
			justify-content center
			overflow hidden
			max-height 0
			left 0
			top 0
			right 0
			transition 0.5s all
			
			&.open
				padding 35px 0
				max-height 1000px
			
			h2
				font-size 24px
				font-weight 500
				padding-bottom 20px
				& > span 
					text-align: center;
					display: inline-block;
					width: 36px;
			
			.button
				width auto
				padding-left 20px
				padding-right 20px
				margin-top 35px
		
		&__textarea
			width 663px
		
		&-tags
			display flex
			padding-top 10px
			&__item
				color #050909
				font-size 14px
				position relative
				background-color #FAFAFA
				margin-left 6px
				padding 2px 5px
				border-radius 2px
				cursor pointer
				&:first-child
					margin-left 0
				p
					position relative
					z-index 3
				&:after
					content ''
					position absolute
					border-radius 2px
					left -1px
					top -1px
					right -1px
					bottom -1px
					z-index -1
					background-image linear-gradient(100deg, #3023ae, #c86dd7)
.companies-middle__select
	.slider-select-item-popup.active
		.slider-select-item-label
			display none
		right: 0;
		left: auto;
		.slider-select-item-label
			margin 0
			width 100%
			text-align: center
		.slider-select-value
			&:first-child
				&:after
					content: ' — ';
					display: inline-block;
					margin-left 5px
					margin-right 5px
					text-align: center;

.blacklist
	.loading
		top: 0
	.companies-middle__wrap
		padding 0
		width: 100%
	.table-item:last-child
		min-width: 400px	
		width: 30%
	.button
		margin: 0!important;
	.h1
		font-size: 32px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: rgb(0, 0, 0);
