.race
	position relative
	width 100%
	&__wrapper
		margin-bottom: 40px
		display flex
		width 100%

	&__map
		height 470px
		width 100%
		background-color black
		display flex
		justify-content center
		align-items flex-end
		color white
		text-transform uppercase
		position relative

	&__finish-point
		position absolute
		top 50%
		left 50%

	&__button--finish,
	&__button--change-finish,
	&__button--set-finish
		width max-content
		padding 0 25px
		margin-bottom 32px

	&__table
		display flex
		justify-content center
		text-transform uppercase
		font-size 26px

	&__button--back
		width 155px
		height 42px
		position absolute
		left 40px
		top 30px
		font-size 12px
		line-height 24px
		color rgba(0, 0, 0, 0.87)
		font-family Roboto
		font-style normal
		font-weight bold

	&__button
		&:hover
			box-shadow: 1px 1px 1px rgba(0,0,0,0.3)
	&__button--fullscreen
		position absolute
		right 40px
		top 30px
		width auto
		padding 0 25px


	&__button--hidden
		display none

	&__request-block
		padding 0 130px

	&__request,
	&__participants
		font-family Roboto
		font-size 32px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing normal
		color #000000

	&__timer-block
		padding 0 130px
		display flex
		justify-content space-between

	&__timer-wrapper
		display: flex
		align-items: center

	&__text
		width 105px
		margin-right 10px
		font-family Roboto
		font-size 14px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height 1.21
		letter-spacing normal
		color #000000

	&__timer
		font-family Roboto
		font-size 32px
		font-weight bold
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing normal
		color #000000

@import "../blocks/progress-bar.styl"
@import "../blocks/leaderboard.styl"
@import "../blocks/race-controls.styl"
@import "../blocks/drivers.styl"
@import "../blocks/final-leaderboard.styl"
@import "../blocks/form-create.styl"
