.auto
	&-head
		width 100%
	
	&-top
		padding-top 40px
		padding-bottom 20px
		&__wrap
			display flex
			align-items center
			justify-content space-between
	
		&-buttons
			display flex
			.auto-info-item
				padding 0 20px
				.auto-info-item__text
					margin-right 0
					margin-left 15px
		
		&-button
			color rgba(255, 255, 255, 0.87)
			background-image linear-gradient(101deg, #3023ae, #c86dd7)
			border none
			width 80px
			height 40px
			display flex
			align-items center
			justify-content center
			margin-left 20px
			text-transform uppercase
			font-size 14px
			font-weight 500
			border-radius 5px
			cursor pointer
			transition 0.3s box-shadow
			&:hover
				box-shadow 0 5px 10px 0 rgba(144, 19, 254, 0.3)
				
			&:active
				box-shadow 0 2px 5px 0 rgba(144, 19, 254, 0.3)
			&:first-child
				margin-left 0
			
			img
				margin-right 8px
		
		&-label
			display flex
			align-items center
			
			&__image
				width 160px
				height 90px
				border-radius 5px
				margin-right 20px
				background-size cover
				background-position center
				background-color rgba(0, 0, 0, 0.05)
				display flex
				justify-content center
				&.disable
					filter grayscale(100%)
			
			&__row
				display flex
				align-items center
			
			&__title
				font-size 32px
				font-weight bold
				padding-bottom 7px
				margin-right 10px
			
			&__text
				font-size 18px
			
			&__button
				color rgba(255, 255, 255, 0.87)
				background-image linear-gradient(101deg, #3023ae, #c86dd7)
				border none
				padding 5px 10px
				display flex
				align-items center
				justify-content center
				font-size 16px
				font-weight bold
				border-radius 5px
				cursor pointer
				transition 0.3s box-shadow
				
				&:hover
					box-shadow 0 5px 10px 0 rgba(144, 19, 254, 0.3)
				
				&:active
					box-shadow 0 2px 5px 0 rgba(144, 19, 254, 0.3)
	
	&-info
		padding-top 20px
		display flex
		justify-content space-between
		&__wrap
			display flex
			justify-content space-between
			margin-left -55px
			margin-right -55px
			padding-bottom 60px
			&.video-info__wrap
				margin-right 40px
				
		
		&-item
			display flex
			align-items center
			justify-content center
			padding 0 55px
			&__text
				margin-right 15px
				font-size 14px
				line-height 1.21
			
			&__number
				font-size 32px
				font-weight bold
	
	&-body
		&-item
			padding-top 60px
	
	&-title
		padding-bottom 40px
		font-size 32px
		font-weight bold

.video
	&-options
		min-width 258px
		margin-left 20px
		display flex
		align-items center
		justify-content space-between
		
		&__item
			display flex
			align-items center
			span
				font-size 32px
				margin-right 15px
				font-weight bold
			
			img
				min-width 38px
	
	&__wrap
		align-items center!important