.settings
	padding-top 20px
	.loading
		position fixed
		top: 0
		bottom 0
		right 0
		left 0
	&-block
		padding 40px 0
		border-bottom 1px solid #d8d8d8
		display block
		&:last-child
			border-bottom none
		h2
			padding-bottom 20px
	&-string
		display flex
		margin-top 20px
		max-width 480px
	
	&-select
		margin-right 20px
		max-width 230px
		width 100%
		display flex
		align-items flex-end
		
		&__text
			margin-left 10px
			margin-right 30px
			font-size 14px
			line-height 1.30
			
	
	&-button
		padding 40px 0
		width 100%
		
		&__wrap
			display flex
			justify-content center