.points
	&-map
		height 470px
		width 100vw
		background gray
		margin-bottom 40px
	&-created
		width: 280px;
		height: 143px;
		display inline-block
		padding 15px 20px
		margin 10px
		vertical-align: top;
		border-radius: 8px;
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
		background-color: rgb(255, 255, 255);
		div
			font-size: 20px;
			font-weight: bold;
			font-style: normal;
			overflow hidden
			text-overflow: ellipsis
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			white-space nowrap
			color: rgb(0, 0, 0);
			padding-bottom 10px
		p
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			overflow hidden
			text-overflow: ellipsis
			white-space nowrap
			font-stretch: normal;
			line-height: 1.14;
			letter-spacing: normal;
			color: rgba(0, 0, 0, 0.87);
			display block
			padding 0
			margin 0
			padding-bottom 10px
		span
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			overflow hidden
			text-overflow: ellipsis
			font-stretch: normal;
			line-height: 1.33;
			display block
			letter-spacing: normal;
			max-height: 60px
			color: rgba(0, 0, 0, 0.87);
	&-buttons
		padding 20px 0px
		cursor: pointer
		.styleguide__wrap
			display inline-block
			padding 0
			margin 10px
			vertical-align: top;
		.button-load
			width: 280px;
			height: 143px;

#points-city
	position absolute
	top 10px
	right 40px
	z-index 99
	width: 200px