.chat
	width 100%
	padding-top 0px
	padding-bottom 0px
	.disabled,
	[disabled]
		opacity: 0.2
		cursor: default
	&-driver
		&-messages
			&-list
				display flex
				flex-direction column-reverse
	&_empty
		.chat-users
			display flex
			justify-content center
			align-items center
		
		.chat-body
			display flex
			justify-content center
			align-items center
	// &-footer, &-header 
	&__empty
		font-size 14px
		line-height 1.33
		margin: auto;
		max-width 30%
		padding-top: 20vh;
		color rgba(0, 0, 0, 0.5)
		display: block;
		height: 100%;
		align-content: center;
		align-items: center;
		text-align: center;
	&-wrap
		display flex
		height calc(100vh - 75px)
	&-title
		font-size 20px
		font-weight bold
		color #000000
		padding-bottom 26px
		
	
	&-users
		padding: 1px 0 20px 0;
		max-width: 280px;
		width: 100%;
		border-right: 1px solid rgba(0,0,0,0.1);
		overflow: auto
		overflow-x: hidden;
		// box-shadow: 0px 0px 18px -1px rgba(37, 27, 27, 0.28)
		&-item
			display: flex;
			padding: 11px 20px 12px 20px;
			padding-right: 30px;
			transition: 0.3s;
			position: relative;
			cursor: pointer;
			&:after
				content ''
				position absolute
				background-image linear-gradient(102deg, #3023ae, #c86dd7)
				top 0
				left 0
				right 0
				bottom 0
				opacity 0
				z-index -1
				transition 0.3s all
			&.noread
				&:after
					content ''
					position absolute
					background-image linear-gradient(102deg, #fff, #da90e6)
					top 0
					left 0
					right 0
					bottom 0
					opacity 0.2
					z-index -1
					transition 0.3s all

			&.active
				cursor: default
				&:after
					opacity 0.1
			&:hover
				&:after
					opacity 0.1
			
			&__avatar
				width 36px
				height 36px
				min-width: 36px
				min-height 36px
				border-radius 50%
				margin-right 10px
				background-size cover
				background-position center
			
			&__wrap
				display flex
				flex-direction column
				justify-content space-between
				width: calc(100% - 60px);

			&__name
				font-size 14px
				overflow hidden
				white-space nowrap
				text-overflow: ellipsis
				max-width: calc(100% - 50px);
				span
					font-weight: bold;
					position: absolute;
					right: 10px;
					top: 20px;
					background: white;
					border-radius: 50%;
					overflow: hidden;
					font-size 12px
					min-width: 20px;
					padding-left 2px
					padding-right 2px
					height: 20px;
					display: inline-block;
					text-align: center;
					line-height: 20px;
			&__text
				font-size 12px
				color rgba(0, 0, 0, .5)
				overflow hidden
				transition: .2s
				white-space nowrap
				text-overflow: ellipsis
	.sending
		.chat-message__container > *
			&:not(.message__attachment)
				opacity .5

	&-window
		width 100%
		display flex
		overflow hidden
		flex-direction column
		justify-content space-between

	&-header
		background-color rgba(0, 0, 0, 0.02)
		display flex
		align-items center
		justify-content space-between
		width 100%
		height 60px
		min-height 60px
		padding 0 40px
		// box-shadow 0px -2px 13px rgba(0, 0, 0, 0.6)
		&-right
			width 200px
			text-align right
		&-left
			width 200px
			text-align: left
			&__number
				font-size 12px
				font-weight 500
			
			&__date
				font-size 12px
				line-height 1.33
				color rgba(0, 0, 0, 0.87)
				margin-top 5px
				a
					font-weight bold
		
		&-middle
			display flex
			flex-direction column
			align-items center
			
			&__car
				font-size 14px
				font-weight 500
				line-height 1.71
				color rgba(0, 0, 0, .87)
				
			&__desc
				line-height 1.33
				font-size 12px
				color rgba(0, 0, 0, .54)
		
		&-block
			font-size 14px
			position relative
			color rgba(0, 0, 0, 1)
			border-style solid
			border-width 1px
			// border-image-source linear-gradient(91deg, #3023ae, #c86dd7)
			// border-image-slice 1
			border-top none
			border-bottom 1px solid
			border-right none
			border-left none
			border-top 0
			&:hover
				border-bottom 1px solid transparent
	
	&-body
		padding: 20px 40px;
		@media (max-width: 1200px)
			padding: 20px 25px;
		position: relative;
		height: 100%;
		width 100%
		overflow-x: hidden;
	&-message
		width 100%
		display block
		padding-top 16px
		b
			display none
		&.me
			text-align left
			padding-left 60%
		&.their
			padding-right 60%
		&.unread
			.chat-message__indicator
				display block
				span
					display: block;
					position: relative;
					top: 13px;
					opacity 1
		&.failed
			.chat-message__container
				border: solid 1px rgb(255, 132, 132);
			.chat-message__indicator
				display block
				span
					opacity 0
				b
					width: 20px;
					display block
					position: relative;
					left: -10px;
					top: -5px;
					svg
						width: 20px;
		.chat-message__indicator
			display none
		.request.chat-message__container
			margin-top: 10px;
			cursor pointer
			background-image: linear-gradient(#fff, #fff), linear-gradient(119deg, #3023ae, #c86dd7);
			&:hover
				opacity .9
			.chat-message__timer
				padding-right 10px
			background-color white
			border solid 1px transparent
			background-image linear-gradient(#ffffff, #ffffff), linear-gradient(119deg, #3023ae, #c86dd7)
			background-origin border-box
			background-clip content-box, border-box
			box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.1)
		
		&.attachment
			.chat-message
				cursor pointer
				&__wrap
					width 100%
				&__container
					width 100%
					border none
		&__indicator
			position absolute
			top 0
			bottom 0
			left -22px
			display flex
			align-items center
			span
				width 12px
				height 12px
				border-radius 50%
				background-image linear-gradient(135deg, #3023ae, #c86dd7)
				opacity 0
				transition 0.3s all

		&.me
			justify-content flex-end
			.chat-message__date
				text-align right
		&.their
			justify-content flex-start
			.chat-message__date
				text-align left
			.chat-message__wrap
				align-items flex-start
			.chat-message__container
				background-color white
				border solid 1px transparent
				// background-image inherit
				box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.1)
				&:after
					content ''
					position absolute
					top 0px
					left 0px
					right 0px
					bottom 0px
					border-radius 4px
			
			.chat-message__indicator
				right -22px
				left initial
					
		
		&__wrap
			display: block;
			width: 100%;
			max-width: 100%;
			display flex
			flex-direction column
			align-items flex-end
			&:after
				content ''
				
		
		&__date
			font-size 12px
			color rgba(0, 0, 0, 0.6)
			line-height 1.33
			padding-bottom 5px
			text-align right
		
		&__container
			background-image linear-gradient(113deg, rgba(48, 35, 174, .1), rgba(200, 109, 215, .1))
			border-radius 4px
			position relative
		
		&__text
			padding 8px 16px
			line-height: 1.5
			font-size: 14px
			color: #3e3e3e
			letter-spacing: 0.4px
			white-space: normal
			word-break: break-word
		&__attachment,
		&__approve
			width 100%
			border-radius 4px
			overflow hidden
			background-size contain
			background-position center
			background-repeat no-repeat
			max-width: 250px
			display inline-block
			position relative
			transition: .4s
			cursor pointer
			&:hover
				opacity .6
			img
				max-width: 100%;
				max-height: 100%;
				transition: .4s
				min-width 250px
				min-height 50px
				background gray
				display: block
				border-radius: 4px

		&__label
			font-size 12px
			line-height 1.33
			color rgba(0, 0, 0, 0.87)
			margin-top 15px
			margin-left 15px
			margin-right 15px
		
		&__timer
			font-size 24px
			font-weight 500
			color rgba(0, 0, 0, 0.87)
			margin-top 5px
			margin-left 15px
			margin-bottom 15px
		
		&__cash
			font-size 24px
			font-weight 500
			margin-top 5px
			margin-right 15px
			margin-left 15px
			&:after
				content '\e903'
				font-family icomoon
				font-size 20px
				line-height 18px
				transform translateY(2px)
				
		
		&__card
			font-size 12px
			line-height 1.33
			margin-top 5px
			margin-left 15px
			margin-bottom 15px
			margin-right 15px
		
		&__button
			width 100%
			padding 8px
			font-weight 500
			font-size 14px
			// margin-top 5px
			background-image linear-gradient(96deg, #3023ae, #c86dd7)
			border-radius 5px
			color white
			text-align center
			display block
			position relative
			top: -6px
			z-index 2
			width: calc(100% - 10px);
			margin: auto;
	
	&-footer
		padding 20px 40px
		background-color rgba(0, 0, 0, .01)
		border-top 1px solid rgba(0, 0, 0, .1)
		// box-shadow 0px 4px 13px rgba(0, 0, 0, 0.6)
	
	&-actions
		display flex
		width 100%
		&__item
			width 33.333%
			text-align center
			padding 15px 0
			border solid 1px #d8d8d8
			background-color white
			border-right none
			cursor pointer
			transition 0.3s all
			position relative
			span
				& ~ input
					opacity: 0
					position: absolute
					left: 0
					right: 0
					top: 0
					bottom: 0
					display: block
			&.disabled
				opacity: 0.2
				cursor: default
				input
					display none
			&:last-child
				border solid 1px #d8d8d8
			
			&:hover
				background-color #fafafa
			
	&-tags
		margin-top 20px
		display flex
		
		&__item
			color #050909
			font-size 14px
			position relative
			background-color #FAFAFA
			margin-left 6px
			padding 2px 5px
			border-radius 2px
			cursor pointer
			&:first-child
				margin-left 0
			p
				position relative
				z-index 3
			&:after
				content ''
				position absolute
				border-radius 2px
				left -1px
				top -1px
				right -1px
				bottom -1px
				z-index -1
				background-image linear-gradient(100deg, #3023ae, #c86dd7)
	
	&-enter
		margin-top 24px
		position relative
		
		&__input
			width 100%
			padding 5px 10px
			border none
			border-bottom 1px solid #a9a9a9
			font-size 15px
			color #141414
			padding-right: 40px;
			// box-shadow: inset 3px 2px 6px -3px rgba(37,27,27,0.18) !important
			&[disabled="disabled"]
				box-shadow: none !important
				background #fcfcfc
			+placeholder()
				color #8a8a8a
		
		&__send
			position absolute
			width 31px
			height 18px
			background-image url('../imgs/icon-plane.svg')
			background-repeat no-repeat
			border none
			background-color transparent
			right 0px
			top 11px
			opacity 1
			cursor pointer
			transition 0.3 opacity
			&:hover
				opacity 0.8
			
			&:active
				opacity 0.6
			&[disable]
				opacity .4
	&-nomessages
		position absolute
		bottom 60px
		width 100%
		display flex
		justify-content center
		font-size 12px
		color rgba(0, 0, 0, 0.4)
[data-datetime]
	position relative
	&:after
		content: attr(data-datetime);
		font-size: 12px;
		color: #808080;
		position: absolute;
		right: -30px;
		top: 4px;
.chat-enter__input
	background transparent
.chat-message.their .attachment .chat-message__container
	&:after
		display none
	.chat-message__button
		padding: 8px;
		font-weight: 500;
		font-size: 14px;
		background-image: linear-gradient(96deg, #3023ae, #c86dd7);
		border-radius: 5px;
		color: #fff;
		text-align: center;
		display: block;
		position: absolute;
		bottom: 10px;
		left: 5px;
		top: auto
		z-index: 2;
		width: calc(100% - 10px);
		margin: auto;

// TODO
.me
	.chat-message__indicator
		span
			display: none !important
.their
	.chat-message__container
		background white!important