.audio
	&__wrap
		display flex
		align-items flex-end
	
	&__left
		width 100%
		.chat-actions__item
			font-weight 500


	&-slider
		margin-left 20px
		max-width 100px
	
	&-audio
		margin-left 20px
		padding-bottom: 1px
		.styleguide__wrap
			padding 0
		
		&__label
			font-size 12px
			line-height 2
			padding-bottom 14px
			color rgba(0, 0, 0, 0.8)
			
	
	&-button
		margin-left 20px
		padding-bottom 1px
		.button
			width 135px
			height 32px
	
	&-bottom
		padding-bottom 34px
	
	&-body
		padding-bottom 40px
	
	&-all
		border solid 1px #d8d8d8
		border-radius 11px
		min-width 313px
		margin-left 87px
		padding 20px
		&__title
			font-size 14px
			font-weight 500
			line-height 1.71
			color rgba(0, 0, 0, 0.87)
			padding-bottom 20px
		
		&__player
			padding-bottom 14px
			.styleguide__wrap
				padding 0
			.player
				width 100%
		
		&__button
			.button
				width 100%
	
	&-head

		&__wrap
			display flex
			align-items center
		
		&__left
			width 100%