.create
	
	&-delete
		top 0px
		right 40px
		position absolute
		font-size 14px
		color rgba(0, 0, 0, .74)
		&:after
			content ''
			height 1px
			width 100%
			bottom -2px
			left 0
			opacity 1
			transition 0.3s all
			position absolute
			background-image linear-gradient(91deg, #3023ae, #c86dd7)
		&:hover
			&:after
				opacity 0

	&-button
		padding 40px 0
		display flex
		justify-content center
		.button
			width initial
			padding 12px 20px

	&-section
		padding-top 60px
		padding-bottom 20px
		border-bottom 1px solid #d8d8d8
		
		.wrap
			display flex
		
		&-base
			max-width 480px
			width 100%
		
		&-extra
			margin-left 220px
			min-width 480px
			.align-left-center
				align-items center
				justify-content flex-start
				.styleguide__wrap
					flex-grow inherit
				
				.button-load
					margin-right 20px
	
	&-head
		display flex
		align-items center
		justify-content space-between
		max-width 480px
		min-height 64px
		padding-bottom 40px
	
	&-title
		font-size 20px
		font-weight bold
	
	&-item
		display flex
		align-items flex-end
		justify-content space-between
		padding-bottom 20px
		
		.textarea
			width 100%

		.button-add
			margin-left 20px
			min-width 40px
		
		&_load
			.button-load
				width 226px
		
		&_toggle
			padding-bottom 10px
			margin-bottom 20px
			border-bottom 1px solid #d8d8d8
		
		&__toggle
			display flex
		
		&__text
			font-size 18px
			color #050909
		
		&__wrap
			margin-right 20px
			width 50%
			&:last-child
				margin-right 0
		
		&_input
			display flex
			align-items flex-end
			margin 0
			
			.input
				max-width 120px
				margin-right 10px
		
		&__input
			padding-right 20px
			min-width 280px
		
		&__select
			min-width 140px
				
		&__label
			font-size 14px
			line-height 1.21
		
		&__count
			font-size 32px
			font-weight bold
			margin-left 18px
			span
				color #d8d8d8
				

		.styleguide__wrap
			padding 0

.select-slider
	width 100%