.history
	.history-body.notify-popup
		position static
		box-shadow none
		width 100%
		.notify-popup-content-item
			// margin-bottom 20px
			// padding-bottom 20px
			padding-right 20px
	&_empty
		.history-body
			min-height 500px
			display flex
			align-items center
			justify-content center
		.history-head
			color rgba(0, 0, 0, .5)!important
	
	&-empty
		font-size 12px
		color rgba(0, 0, 0, 0.5)

	&-list
		width: 100%;
		height: calc(100vh - 210px);
		overflow: auto;
	&-head
		display flex
		align-items flex-end
		padding-top 40px
		padding-bottom 36px
		&__title
			font-size 20px
			font-weight bold
			padding-right 20px
		
		&__select
			margin-left 20px
			min-width 230px
		
		&__button
			margin-left 20px
			max-height 40px
	
	&-item
		width 100%
		display flex
		justify-content space-between
		padding 40px
		border-bottom solid 1px #d8d8d8
		margin-bottom 40px
.history
	.notify-popup-content-item
		border-bottom 1px solid rgb(216, 216, 216);
.notify-popup-content-item
	// border-bottom 1px solid rgb(216, 216, 216);
	padding-bottom 20px
	padding-top 20px
	.flex
		justify-content space-between
		align-items center
	&__date
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		align-items center
		width 130px
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
	&__type
		font-size: 14px;
		font-weight: normal;
		align-items center
		font-style: normal;
		width 180px
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
	&__driver
		align-items center
		flex-grow 0
		.table-item
			padding 0
			margin 0
			padding-bottom 10px
	&__middle
		text-align left
		flex-grow 1
		align-self: middle !important
		align-items center !important
		text-align left !important
		span
			position relative
			// top:-5px
			display inline-block
			color: rgb(200, 109, 215)
			font-size 20px
			padding-left 20px
			padding-right 40px
			vertical-align middle
		img
			display inline-block
			max-width: 100px;
			vertical-align middle
			position relative
			// top: 5px
			max-height: 100px;
	&__right
		align-items center
		flex-grow: 1
		text-align right
		div
			word-break: break-word;
			max-width: 470px;
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.33;
			letter-spacing: normal;
			color: rgba(0, 0, 0, 0.87);
		b
			position relative
			top: 2px
			font-size 14px
.header__wrap .notify-popup
	.notify-popup-content-item
		position relative
	.notify-popup-content-item__date
		position absolute
		top: 0px
	.notify-popup-content-item__type
		position absolute
		top: 0px
		right: 0px
		text-align right
	.notify-popup-content-item__middle
		span
			padding-right 20px
			padding-left 10px
		img
			max-width 120px
			max-height 100px