.news
	padding-top 33px
	padding-bottom 40px
	&-head
		display flex
		justify-content space-between
		align-items center
		padding-bottom 34px
		&__title
			font-size 16px
			font-weight 400
			color #050909
			span
				font-weight bold
		
	&-item
		width 100%
		height 240px
		display flex
		justify-content space-between
		background-color white
		border-radius 5px
		overflow hidden
		box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.1)
		margin-top 40px
		transition .3s all
		&:first-child
			margin-top 0
		
		&:hover
			box-shadow 0 2px 25px 0 rgba(0, 0, 0, 0.3)
			transform translateY(-5px)
		
		&__wrap
			padding 40px
			width 100%
		
		&__image
			min-width 400px
			height 100%
			background-size cover
			background-position center
		
		&__title
			font-size 20px
			font-weight bold
			padding-bottom 30px
		
		&__text
			font-size 16px
			color #050909
			padding-bottom 15px
	&_empty
		.news-body
			display flex
			justify-content center
			align-items center
			min-height 660px
	&-empty
		display flex
		flex-direction column
		align-items center
		&__title
			font-size 12px
			color rgba(0, 0, 0, 0.6)
			padding-bottom 20px
		&__button
			.button
				height 32px
				width 152px
	
	&-page
		padding-bottom 40px
		&-head
			display flex
			padding-top 30px
			padding-bottom 40px
		
		&__back
			&-button
				height 42px
				margin-right 20px
				border-radius 5px
				font-size 12px
				font-weight bold
				line-height 2
				padding 9px 10px 9px 15px
				box-shadow 0 3px 15px 0 rgba(0, 0, 0, 0.15)
				transition .2s box-shadow
				&:hover
					box-shadow 0 1px 5px 0 rgba(0, 0, 0, 0.15)
		
		&__edit
			.button
				padding 0 13px
				width initial
				font-weight 400
					

		&-content
			max-width 780px
			h1
				font-size 20px
				font-weight bold
				padding-bottom 10px
			
			&__date
				font-size 14px!important
				font-weight 300
				padding-bottom 30px
			
			img
				max-width 100%
				margin-bottom 30px
			
			p
				padding-bottom 15px
				font-size 16px
				color #050909