.auto
	&-popup
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		background rgba(0, 0, 0, .5)
		z-index 10
		.companies-actions__textarea
			width 100%
		&__line
			max-width 900px
		.wrap
			height 100%
			max-width 100%
			display flex
			align-items center
			justify-content center
		&__container
			background-color white
			max-width 100%
			box-sizing: content-box;
			padding 45px
			padding-bottom 40px
			position relative
			display: inline-block;
			// width: 100%;
		&-head
			display flex
			justify-content space-between
		
		&__left
			display flex
		
		&-car
			margin-right 20px
			&__title
				font-size 14px
				font-weight 500
				line-height 1.71
			
			&__text
				font-size 12px
				line-height 1.33
				padding-bottom 10px
				color rgba(0, 0, 0, 0.5)
			
			&__date
				font-size 12px
				line-height 1.33
				span
					font-weight bold
			
		&-number
			font-size 24px
			font-weight 500
		
		&__right
			display flex
		
		&__text
			margin-right 20px
			font-size 14px
			line-height 1.22
		
		&__counter
			font-size 32px
			font-weight bold
			margin-top -3px
		
		&-body
			display flex
			margin-left -10px
			margin-right -10px
			justify-content space-evenly
			max-height: 90vh;
			align-items: center;
		&-item
			margin 10px
			flex-grow: 1;
			// min-width 200px
			display block
			max-height 100vh
			max-width: 100vh
			padding-bottom 50px
			overflow hidden
			&:hover
				overflow visible
			img
				transition: .4s
				max-height 50vh
				max-width: 30vw
			&__image
				transition: .4s
				min-height 0
				height 100%
				height inherit
				background-size contain
				background-position center
				background-repeat: no-repeat
				text-align center
				z-index 999
				display block
				img
					// max-width: calc(900px/ 4 - 10px);
					max-height: 35vh
					display: inline-block;
			// &:active
			// 	opacity 1 !important
			// 	img
			// 		opacity 1 !important
			// 	.auto-popup-item__image
			// 		transition-delay: .7s
			// 		transform: scale(1.9)
			// 		position relative
			// 		z-index 1000
			// 		opacity 1 !important
			
			&__text
				font-size: 16px;
				position: absolute;
				bottom: 100px;

		&-close
			height 22px
			width 22px
			top 20px
			right 20px
			position absolute
			cursor pointer
			z-index: 9
			&__item
				width 28px
				height 1px
				background-color #979797
				transform rotate(45deg)
				position absolute
				top 11px
				left -2px
				transition 0.3s all
				&:last-child
					transform rotate(-45deg)
			&:hover
				.auto-popup-close__item
					background-color #141414
		
		&-footer
			height 40px
			.auto-popup-footer
				display flex
				align-items center
				justify-content flex-end
			
		&__link
			margin-right 30px
			font-size 14px
			color rgba(0, 0, 0, .7)
			position relative
			text-decoration none
			border-bottom 1px solid transparent
			&:after
				content ''
				position absolute
				height 1px
				width 100%
				bottom -2px
				left 0
				background-image linear-gradient(91deg, #3023ae, #c86dd7)
				opacity 1
				transition .3s all
			&:hover
				// border-bottom 1px solid 
				&:after
					opacity 0
		
		&-button
			.button
				width 200px