.button
	&-load
		width 180px
		height 120px
		border-radius 5px
		position relative
		background-color white
		padding 20px
		display flex
		flex-direction column
		justify-content center
		align-items center
		transition 0.3s box-shadow
		background-size cover
		background-position center
		cursor pointer
		&:after
			content ''
			left -2px
			top -2px
			right -2px
			bottom -2px
			z-index -1
			border-radius 5px
			position absolute
			transition 0.3s box-shadow
			background-image linear-gradient(101deg, #3023ae, #c86dd7)
		&:hover
			.button-load__back
				opacity 1
			&:after
				box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(144, 19, 254, 0.15)
		&:active
			&:after
				box-shadow 0 0 19px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(144, 19, 254, 0.15)
		
		&__text
			font-size 14px
			line-height 1.36
			font-weight bold
			color #9655ca
			text-align center
			margin-top 7px
		
		&__back
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			display flex
			justify-content center
			align-items center
			background-color rgba(0, 0, 0, 0.5)
			opacity 0
			transition 0.3s opacity
			