.button
	height 40px
	width 157px
	font-size 14px
	font-weight 500
	border-radius 5px
	display flex
	align-items center
	justify-content center	
	transition 0.3s box-shadow
	color rgba(0, 0, 0, 0.87)
	cursor pointer
	position relative
	border: solid 0;
	background-color white
	&button
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		display: block;
		background: transparent;
		border: 0 !important
		outline: none;
	&:after
		content ''
		left -1px
		top -1px
		right -1px
		bottom -1px
		z-index -1
		border-radius 5px
		position absolute
		background-image linear-gradient(101deg, #3023ae, #c86dd7)
		transition 0.3s box-shadow
	&_gr
		color rgba(255, 255, 255, 0.87)
		background-image linear-gradient(101deg, #3023ae, #c86dd7)
		border none
	&:hover
		&:after
			box-shadow 0 5px 10px 0 rgba(144, 19, 254, 0.3)

	&:active
		&:after
			box-shadow 0 2px 5px 0 rgba(144, 19, 254, 0.3)

	&.disabled, [disabled]
		background rgba(0, 0, 0, 0.15)
		cursor default
		color rgba(255, 255, 255, 0.87)
		&:after
			display none
		&:hover
			box-shadow none
		&:active
			box-shadow none
	&-add
		width 40px
		height 40px
		border-radius 5px
		position relative
		border: 0
		background-color rgba(0, 0, 0, 0.04)
		transition 0.3s all
		cursor pointer
		&:after
			content ''
			position absolute
			width 12px
			height 4px
			background-color #4a4a4a
			top 18px
			left 14px
		&:before
			content ''
			position absolute
			width 4px
			height 12px
			background-color #4a4a4a
			top 14px
			left 18px
		
		&:hover
			background-color rgba(0, 0, 0, 0.1)

