.table-condensed
	width 312px
	border-radius 5px
	border solid 1px #d8d8d8
	font-size 18px
	line-height 0.94
	color #212b35
	thead
		tr
			th
				cursor pointer
				&:hover
					background none!important
			&:nth-child(2)
				height 47px
				border-bottom solid 1px #d8d8d8!important
				.next, .prev
					position relative
					color transparent
					&:after
						content ''
						position absolute
						width 10px
						height 1px
						background-image linear-gradient(133deg, #979797, #979797)
						transform rotate(45deg)
						position absolute
						top 19px
						right 33px
						transition 0.3s background
					&:before
						content ''
						position absolute
						width 10px
						height 1px
						background-image linear-gradient(133deg, #979797, #979797)
						transform rotate(-45deg)
						position absolute
						top 26px
						right 33px
						transition 0.3s background
					&:hover
						cursor pointer
						&:after
							background-image linear-gradient(133deg, #3023ae, #c86dd7)
						&:before
							background-image linear-gradient(133deg, #3023ae, #c86dd7)
					
				.prev
					&:after
						top 26px
						left 33px
						right initial
					&:before
						top 19px
						left 33px
						right initial
			&:nth-child(3)
				height 40px
				border-bottom solid 1px #d8d8d8!important
	
	tbody
		tr
			td
				height 32px!important
				border 1px solid transparent!important
				transition 0.3s all
				&.active
					background-image linear-gradient(133deg, #3023ae, #c86dd7)
					&:hover
						border 1px solid transparent!important
						background-image linear-gradient(133deg, #3023ae, #c86dd7)!important
				&:hover
					border 1px solid #c86dd7!important
					background none!important
				
				&.old
					color rgba(0, 0, 0, .1)!important
				&.new
					color rgba(0, 0, 0, .1)!important
.datepicker
	&-switch
		font-size 18px
		color #212b35
		line-height 0.94
		font-weight 400
	&-days
		position: relative
		display: inline-block
		&:after
			content ''
			height: 1px 
			background #d8d8d8 
			width 100%
			display block
			top: 88px
			position absolute
		&:before
			content ''
			height: 1px 
			background #d8d8d8 
			width 100%
			display block
			top: 58px
			position absolute

.calendar
	width 422px
	border-radius 5px
	border solid 1px #d8d8d8
	font-size 18px
	line-height 0.94
	color #212b35
	&__header
		padding 30px 33px
		border-bottom solid 1px #d8d8d8 
		display flex
		justify-content space-between
	
	
			
	
	&-week
		display flex
		width 100%
		border-bottom solid 1px #d8d8d8 
		&__item
			width 14.285%
			font-size 15px
			padding 11px 0
			text-align center
	
	&-month
		display flex
		flex-wrap wrap
		&__item
			width 14.285%
			padding 1px
			text-align center
			position relative
			background-color transparent
			transition 0.3 background
			&.checked
				.calendar-month__wrap
					background-image linear-gradient(133deg, #3023ae, #c86dd7)
					color white
				
				&:hover
					.calendar-month__wrap
						&:after
							opacity 0


			&.disable
				pointer-events none
				opacity 0.10
		
		&__wrap
			padding 20px 0px
			width 100%
			height 100%
			border-radius 8px
			background-color white
			&:after
				content ''
				position absolute
				left 0px
				top 0px
				right 0px
				bottom 0px
				border-radius 8px
				z-index -1
				background-image linear-gradient(133deg, #3023ae, #c86dd7)
				opacity 0
				transition 0.3s opacity
			&:hover
				cursor pointer
				background-color white
				transition background
				&:after
					opacity 1
.datepicker-dropdown
	.table-condensed
		border: 0