.control
	display block
	position relative
	padding-left 26px
	margin-bottom 15px
	cursor pointer
	font-size 18px

	input
		position absolute
		z-index -1
		opacity 0
		

.control__indicator
	position absolute
	top 2px
	left 0
	height 15px
	width 15px
	border-radius 2px
	background white
	&:before
		content ''
		position absolute
		left -1px
		top -1px
		right -1px
		bottom -1px
		border-radius 2px
		z-index -1
		background-image linear-gradient(135deg, #3023ae, #c86dd7)

	
	.control input:checked ~ &
		background-image linear-gradient(135deg, #3023ae, #c86dd7)

	
	.control input:disabled ~ &
		background #eaeaea
		opacity 0.6
		pointer-events none

	&:after
		content ''
		position absolute
		display none

		.control input:checked ~ &
			display block

		.control--checkbox &
			left 2px
			top 3px
			width 12px
			height 9px
			background-image url('../imgs/icon-check.svg')
		
		.control--checkbox input:disabled ~ &
			border-color #333