.drivers
  width max-content
  height max-content
  position relative

  &__finish-point
    position absolute
    top 50%
    left 50%

  &__driver
    display flex
    flex-direction column
    justify-content center
    align-items center
    top 100px
    left 300px
    position absolute
    z-index 10

  &__img
    width 47px
    height 47px
    border-radius 50%
    background-color red
    border 2px solid white
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

  &__block
    width 60px
    height 20px
    border-radius 5px
    background-color #fff
    position absolute
    bottom -10px
    display flex

  &__place,
  &__distance
    font-family Roboto
    font-size 12px
    font-weight bold
    font-style normal
    font-stretch normal
    line-height 1.33
    letter-spacing normal
    display flex
    justify-content center
    align-items center

  &__place
    width 16px
    background-color #000
    color #fff
    border-top-left-radius 5px
    border-bottom-left-radius 5px

  &__distance
    background-color #fff
    color #000
    padding-left 4px
