.final-leaderboard
  padding-top 100px
  width 100%
  background-color #0a002f
  min-height 800px
  background-image url("../imgs/icon-finish-big.png")
  background-size 1220px 800px
  background-position center 90px
  background-repeat no-repeat
  display flex
  flex-direction column
  align-items center

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image url("../imgs/icon-finish-big@2x.png")
  }

  &__text
    font-family Roboto
    font-size 26px
    font-weight bold
    font-style italic
    font-stretch normal
    line-height normal
    letter-spacing normal
    color #ffffff

  &__participant
    color #fff

  &__wrapper
    display flex
    flex-direction column
    align-items center
    margin-bottom 144px
