.form-create
  display flex
  flex-direction column
  margin 20px 0
  position relative

  &:after
    width 100%
    height 1px
    background-color #d8d8d8
    content ''
    display block
    position absolute
    bottom 80px

  &__title
    font-family Roboto
    font-size 20px
    font-weight bold
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing normal
    color #000000
    margin-bottom 40px

  &__title,
  &__list
    padding 0 130px

  &__list
    margin-bottom 80px

  &__item
    display flex
    margin-bottom 20px

    &:last-child
      margin-bottom 0

  &__block
    display flex
    flex-direction column
    margin-right 20px

  &__label
    opacity 0.8
    font-family Roboto
    font-size 12px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing normal
    color #050909
    margin-bottom 10px

  &__input
    padding-left 15px
    width 480px
    height 38px
    border-radius 5px
    font-family Roboto
    font-size 18px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing normal
    border solid 1px #d8d8d8

  &__text
    font-family Roboto
    font-size 14px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.21
    letter-spacing normal
    color #000000
    align-self flex-end
    margin-bottom 10px

  &__button
    align-self center
    font-family Roboto;
    font-size 14px
    font-weight 500
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing normal
    text-align center
    color rgba(255, 255, 255, 0.87)
