.header
	display flex
	justify-content center
	&-cabinet
		padding 40px 0
	&-cabinet__wrap
		display flex
		justify-content space-between
		width 100%
		
	&-selects
		display flex
		&__item
			margin-right 38px

	&-admin
		font-size 18px
		color black
		opacity 1
		margin-right 15px
		transition 0.3s all
		&:hover
			opacity 0.5