.input
	display flex
	flex-direction column
	width 100%
	label
		opacity 0.8
		font-size 12px
		color #050909
		padding-bottom 10px
	input
		height 38px
		width 100%
		color #050909
		font-size 18px
		padding 0 15px
		border-radius 5px
		border solid 1px #d8d8d8
		+placeholder()
			color rgba(0,0,0,0.5)

	&.error
		input
			border solid 1px rgb(255, 91, 91);
		color #050909
		+ label
			color #050909

	
	&:disabled, &.disabled, [disabled]
		cursor default
		pointer-events none
		background white
		color rgba(5, 9, 9, 0.3)
		+placeholder()
			color rgba(5, 9, 9, 0.3)

