.leaderboard
  display flex
  color white
  background-color #0a002f
  font-family Roboto
  margin-bottom 30px

  &__wrapper
    width 345px
    display flex
    flex-direction column

  &__img
    padding-top 20px

  &__img,
  &__title
    margin 0 auto

  &__map
    background-color black
    border-radius 13px
    width 100%
    height 100%
    position relative

  &__map-container
    margin 10px
    margin-left 0
    width calc(100% - 345px)
    display flex
    flex-direction column

  &__list
    overflow-y scroll
    overflow-x hidden
    height 100vh
    position relative

  &__scroll
    position absolute
    height 60px
    width 6px
    display block
    background-color rgba(255, 255, 255, 0.3)
    border-radius 10px
    top 60px
    left 6px
    z-index 30

  &__shadow
    width 100%
    z-index 20
    position relative
    box-shadow 0 0 20px 4px rgba(0, 0, 0, 0.8)
    top 2px

  &__item
    display flex
    align-items center
    padding-left 27px
    min-height 90px
    position relative

    &--first-place
      .leaderboard__place
        background-image: url("../imgs/icon-first-place.svg")

    &--second-place
      .leaderboard__place
        background-image: url("../imgs/icon-second-place.svg")

    &--third-place
      .leaderboard__place
        background-image: url("../imgs/icon-third-place.svg")

    &--top
      border-radius 5px
      box-shadow 0 3px 10px 0 rgba(0, 0, 0, 0.1)
      background-color #281d51
      position relative
      left 50px
      padding-left 0
      min-height 82px
      margin-bottom 17px
      width 320px
      z-index 3

      &:nth-child(4)
        margin-bottom 0

      .leaderboard__car-icon
        background-image: url("../imgs/icon-small-car.svg")
        display block
        width 30px
        height 13px
        margin-right 6px

      .leaderboard__wrap
        position relative
        left -17px

      .leaderboard__place
        position absolute
        left -17px
        color #000
        width 34px
        height 35px
        margin-right 0

      .leaderboard__block:nth-child(3)
        margin-right 24px

      .leaderboard__photo
        width 60px
        height 60px
        border 2px solid #fff
        margin-right 0

      .leaderboard__distance
        padding-top 1px
        width 66px
        height 20px
        background-image url("../imgs/finish-icon.png")
        color #000
        display flex
        align-items center
        padding-left 4px
        margin-bottom 6px
        position relative
        left -3px
        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image url("../imgs/finish-icon@2x.png")
        }

      &:after
        display none

    &:after
      width 299px
      height 1px
      content ''
      background-color #fff
      opacity 0.15
      position absolute
      bottom 0

  &__place
    margin-right 5px

  &__place,
  &__name,
  &__car,
  &__distance,
  &__title,
  &__time-diff
    font-size 14px
    font-weight bold
    font-style normal
    line-height normal
    color #ffffff

  &__title
    font-size 26px
    font-style italic
    margin-bottom 17px

  &__wrap
    display flex
    align-items center

  &__car
    opacity 0.54
    font-size 12px
    font-weight normal
    line-height 1.33

  &__distance
    line-height 1.14
    color rgba(255, 255, 255, 0.87)
    margin-bottom 4px

  &__block
    display flex
    flex-direction column

    &:nth-child(3)
      margin-left auto
      margin-right 20px

  &__time-diff
    opacity 0.54
    font-size 12px
    font-weight normal
    line-height 1.33
    color #ffffff

  &__photo
    width 50px
    height 50px
    border-radius 50%
    background-color red
    border none
    margin-right 10px

  &__name
    line-height 1.71

  &__container
    width 220px
    height 100px
    border-radius 16px
    box-shadow 0 3px 10px 0 rgba(0, 0, 0, 0.1)
    background-color #ffffff
    color #000
    display flex
    align-items center
    padding-left 20px
    padding-right 10px
    position absolute
    right 30px
    justify-content space-between

    &--finished
      bottom 140px

    &--timer
      bottom 30px

      span
        font-size 32px;
        font-weight bold;
        font-style normal;
        font-stretch normal;
        line-height normal;
        letter-spacing normal;

      .leaderboard__text
        font-size 14px

    .leaderboard__timer-icon
      position absolute
      bottom 0
      right 0

  &__participants
    span
      font-size 32px
      font-weight bold
      font-style normal
      font-stretch normal
      line-height normal
      letter-spacing normal

  &__not-finished
    color #d8d8d8

  &__text
    font-size 14px
    font-weight bold

  &__box
    display flex
    flex-direction column

  &__case
    display flex

  &__popup
    display flex
    height 180px
    width 100%
    margin 20px 0 10px

  &__race-controls
    display flex
    flex-direction column
    margin 0 auto

  &__envelope
    width 365px
    height 140px
    border-radius 5px
    box-shadow 0 3px 10px 0 rgba(0, 0, 0, 0.1)
    background-color #281d51

    .leaderboard__item
      height 100%

      &:after
        display none
