.map
	width 100%
	height 470px
	padding 30px 40px
	position relative
	background-color #a1a1a1
	&-head
		display flex
		justify-content space-between
		
		&__wrap
			display flex
	
	&-item
		display flex
		align-items center
		height 42px
		background white
		border-radius 5px
		margin-right 10px
		box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.15)
		padding 0 15px
		cursor pointer
		p
			font-size 12px
			line-height 2
			color rgba(0, 0, 0, 0.87)
			font-weight bold
			
	
	&-back
		display flex
		align-items center
		justify-content center
		&__text
			padding-left 15px
			position relative
			&:before
				content ''
				position absolute
				width 8px
				height 3px
				background-color black
				transform rotate(45deg)
				left 0
				top 12px
				transition 0.3s left
			&:after
				content ''
				position absolute
				width 8px
				height 3px
				background-color black
				transform rotate(-45deg)
				left 0
				top 8px
				transition 0.1s left
	
	&-search
		position relative
		padding 0
		overflow hidden
		width 316px
		&__input
			width 100%
			height 100%
			border none
			padding 0 15px
		
		&__button
			position absolute
			height 17px
			width 17px
			background-image url('../imgs/icon-search.svg')
			background-repeat no-repeat
			background-position center
			background-color white
			border none
			top 13px
			right 15px
			cursor pointer
	
	&-warm
		cursor default
	
	&-options
		display flex
		box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.15)
		
		&-item
			margin-right 0
			border-right 1px solid #d3d3d3
			border-radius 5px 0px 0px 5px
			box-shadow none
			&:last-child
				border-radius 0px 5px 5px 0px
				border-right 0px solid transparent
				p
					margin-left 0
					margin-right 5px
				span
					font-size 12px
					font-weight bold
					background-image linear-gradient(149deg, #3023ae, #c86dd7)
					background-clip text
					-webkit-background-clip text
					-webkit-text-fill-color transparent
					
			
			&__text
				margin-left 5px
	
	&-all
		margin-right 0
		position absolute
		bottom 30px
		right 40px
		&__text
			margin-left 5px