input[type="range"].multirange
	padding: 0
	margin: 0
	display: inline-block
	vertical-align: top

input[type="range"].multirange.original 
	position: absolute


	input[type="range"].multirange.original
		position: relative
		z-index: 2

	input[type="range"].multirange.original
		transform scale(1)
		z-index 1

	input[type="range"].multirange::-moz-range-track
		border-color: transparent

input[type="range"].multirange.ghost 
	position: relative
	background linear-gradient(to right, transparent var(--low), var(--range-color) 0, hsl(190, 71%, 19%) var(--high), transparent 0) no-repeat 0 45% / 100% 40%
	background #333

	input[type="range"].multirange.ghost
		background: #eaeaea

	input[type="range"].multirange.ghost
		background #e2e2e2