.player
	width 192px
	font-size 12px
	color black
	line-height 1.33
	&__wrap
		display flex
		justify-content space-between
		align-items center
	
	&__left
		display flex
		justify-content space-between
		align-items center
	
	&__name
		margin-top 2px
		margin-left 5px

	&__icon
		cursor pointer
	
	&-line
		margin-top 7px
		width 100%
		height 4px
		border-radius 2px
		background-color #d8d8d8
		position relative
		
		&__progress
			position absolute
			top 0
			left 0
			border-radius 2px
			background-image linear-gradient(93deg, #3023ae, #c86dd7)
			height 100%