.points
	&-popup
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		background rgba(0, 0, 0, .5)
		z-index 10
		.auto-popup-close__item
			box-shadow: 0px 0px 3px rgba(158, 132, 132, 0.6509803921568628)
		.wrap
			height 100%
			max-width 960px
			display flex
			align-items center
			justify-content center
		&__container
			background-color white
			max-width 960px
			box-sizing: content-box;
			position relative
			display: inline-block;
			// width: 100%;
		// &-body
		// 	.points-point-footer
		// 		padding-top: 20px
		&-form
			width: 600px
			padding: 45px
			.textarea
				width: 100%
		&-map
			width: 380px
		#points-popup-map-set
			background gray
			width: 100%
			height: 100%