.progress-bar
  display flex
  justify-content: space-between
  padding 0 130px
  margin-bottom 60px

  &__block
    position relative
    width 100%
    padding-top: 10px

    &:before
      width 100%
      height 1px
      background-color #d8d8d8
      content ''
      display block
      position absolute
      top 0
      left 0

    .progress-bar__title,
    .progress-bar__date
      font-family Roboto
      font-size 14px
      font-style normal
      font-stretch normal
      line-height 1.21
      letter-spacing normal
      color #000000


    .progress-bar__title
      opacity 0.25
      font-weight bold

    .progress-bar__date
      opacity 0.5
      font-weight normal

    &--complete
      &:before
        width 100%
        height 4px
        background-color #7ed321
        content ''
        display block
        position absolute
        top -3px
        left 0

      .progress-bar__title,
      .progress-bar__date
        opacity 1
