.race-controls
  &__wrapper
    margin-bottom 42px

  &__list
    list-style none
    display flex
    min-width 580px
    justify-content space-between
    font-family Roboto
    font-size 20px
    font-weight bold
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing normal
    color #ffffff
    margin-bottom 25px

  &__block
    position relative

  &__range
    width 560px
    height 2px
    opacity 0.7
    background-image linear-gradient(99deg, #3023ae, #c86dd7)
    content ''

  &__range-button
    background-color #fff
    width 38px
    height 38px
    border-radius 50%
    border none
    position absolute
    top -18px
    left 45%
    cursor pointer
    display flex
    padding 0 10px
    justify-content space-between

  &__button
    margin 0 auto

  &__icon-button
    width 7px
    height 14px
    display block

  &__icon-button--right
    background-image: url("../imgs/icon-triangle-right.svg")

  &__icon-button--left
    background-image: url("../imgs/icon-triangle-left.svg")
