

.select
	cursor pointer
	display inline-block
	position relative
	font-size 18px
	color black
	width 100%
	/*height 38px*/
	label
		display flex
		flex-direction column
	
	&-title
		font-size 12px
		color #050909
		opacity 0.8
		font-size 12px
		padding-bottom 10px
		display block
		padding-top: 3px;
	&2
		min-width 70px
		&-container
			border-radius 5px
			&.select2
				width 100% !important
			&--open
				&.select2-container--default.select2
					box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.3)
			&--above
				border-radius 0 0 5px 5px
		&-selection
			min-height 38px
			&__choice
				margin-left 15px !important
				position relative
				float none
				&__remove
					font-weight: normal !important;
					color: rgba(0,0,0,0.6) !important;
					margin-top: 1px;
					font-weight bolder
					position: absolute;
					left: -10px
					top: calc(50% - 10px);
					margin-left: 0;
			&--single
				height 38px!important
				border solid 1px #d8d8d8!important
				.select2-selection__rendered
					line-height 35px !important
			&__rendered
				height 100%
			&__arrow
				height 100%!important
				width 38px!important
			
			&--multiple
				height 100%
				border solid 1px #d8d8d8!important
				.select2-selection__rendered
					padding-top: 7px !important;
					white-space: normal!important;
					min-height: 32px!important
				    padding-right: 25px;
		// TODO тут надо думаьб
		&-search
			&:not(.select2-search--inline)
				display none!important
		
		&-dropdown
			border-radius 5px!important
			border-top-left-radius 0!important
			border-top-right-radius 0!important
			border none!important
			box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.3)
			border: 1px solid #d8d8d8!important
			margin-top: -1px
			&--above
				border-radius: 5px 5px 0 0 !important
				border: 1px solid #d8d8d8!important
				margin-top: 0px
				margin-bottom: -1px
				
		&-results
			&__option
				padding 10px 14px!important
				& > span
					display: block
					span
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						height: 24px;
						display: inline-block;
						width: calc(100% - 28px);
						line-height: 24px;
						vertical-align: middle;
						text-transform capitalize
						position relative
						top: 2px

				&[aria-selected=true]
					background-color rgba(216, 216, 216, .3)!important
					color #050909!important
				
				&--highlighted[aria-selected]
					background-color rgba(216, 216, 216, .3)!important
					color #050909!important
		

	&-multi
		display flex
		flex-direction column
		&.color
			.select2
				&-search
					position relative
					top: 1px
					.select2-search__field:focus
						text-indent: -999999px
				&-selection__choice__remove, 
				.checkbox-color
					display none !important
				&-selection
					&__choice
						margin-left: 0px !important;
						&::before
							display none !important
					&__rendered
						padding-top: 5px !important;
						padding-left 8px !important
						li
							margin-right: -14px !important;
		.select2
			&:after
				content: ''
				border-color: #888 transparent transparent transparent;
				border-style: solid;
				border-width: 5px 4px 0 4px;
				height: 0;
				right: 15px;
				margin-left: -4px;
				margin-top: -2px;
				position: absolute;
				top: 50%;
				width: 0;
			&-container
				&--open
					&:after
						border-color: transparent transparent #888 transparent;
						border-width: 0 4px 5px 4px;
				&--above
					border-radius 0 0 5px 5px
		&-title
			font-size 12px
			color #050909
			opacity 0.8
			font-size 12px
			padding-bottom 10px

.select-2-checkbox
	display: inline-block;
	height 15px
	width 15px
	border-radius 2px
	margin-right: 10px
	position relative
	vertical-align middle
	margin-left: 1px;
	&:not(.color)
		background white
		&:before
			content ''
			position absolute
			left -1px
			top -1px
			right -1px
			bottom -1px
			border-radius 2px
			z-index -1
			background-image linear-gradient(135deg, #3023ae, #c86dd7)
	&.color
		position: relative;
		top: 2px;
		left: 4px;
	& + span
		display inline-block
		vertical-align middle
		height 15px


[aria-selected="true"]
	.select-2-checkbox
		height 15px
		width 15px
		background-color transparent
		background-image url('../imgs/icon-check.svg')!important
		background-position center!important
		background-repeat no-repeat!important

.checkbox-color
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
.select2-selection--multiple
	.select2-selection__choice
		margin-top 1px !important
		margin-bottom 1px !important
		background transparent !important
		border: 0px !important
		padding 0 !important
		// &::before
		// content ', '
		&:first-child
			&::before
				content ''

.select2-container:not(.select2)
	.select2-dropdown
		min-width 195px
.select-multi.color
	.select2-selection__choice
		margin-right -6px
.select-2-color
	width: 24px;
	height: 24px;
	border-radius: 50%
	display inline-block
	background-color: rgb(222, 222, 222);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
.select-2-color--drop
	.select2-selection__choice
		margin-left -14px!important
		margin-right 0!important
.select2-container
	.select2-search--inline
		float: left;
		padding-top: 2px;
		padding-left: 5px;
		.select2-search__field
			margin 0 !important
.select-multi.color
	.select2-selection__rendered
		padding-right: 16px !important;
		li
			margin-top: 0px !important;
			margin-right: -14px !important;
			margin-bottom: -15px !important;
			padding-bottom: 17px !important;
			opacity: .9

// класс для поиска в селекте
.filter-search
	.select2-search
		display block!important
		input
			color: #050909;
			font-size: 18px;
			padding: 8px 15px;
			border-radius: 5px;
			border: solid 1px #d8d8d8;
			resize: none;
.select2-selection__clear
	position: relative;
	right: 10px;
	z-index 999