.slider-select
	width 100%
	&-item
		width 100%
		height 36px
		background white
		border-radius 5px
		position: relative;
		width 100%
		border: 1px solid; 
		padding: 7px
		background-color: #fff;
		border-radius: 5px;
		height: 38px !important;
		border: solid 1px #d8d8d8 !important;
		&:after
			content: ''
			border-color: #888 transparent transparent transparent;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			height: 0;
			right: 15px;
			margin-left: -4px;
			margin-top: -2px;
			position: absolute;
			top: 50%;
			width: 0;
		&.active
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
			display: block;
			border-radius: 5px 5px 0 0;
			&:after
				border-color: transparent transparent #888 transparent;
				border-width: 0 4px 5px 4px;

		&-label
			padding-bottom 15px
			display: block;
			overflow: hidden;
			width: calc(100% - 28px);
			text-overflow: inherit;
			white-space: nowrap;
			text-overflow: ellipsis;
		&-popup
			background-color: #fff;
			border: 1px solid #aaa;
			border-radius: 4px;
			box-sizing: border-box;
			display none
			position: absolute;
			width: 100%;
			z-index: 1051;
			right: 0;
			top: 100%; 
			padding: 16px;
			left: 0
			min-width 355px
			border-radius: 5px !important;
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
			border: none !important;
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
			transition: 0.3s all;
			margin-top: 1px;
			&.active
				display: block;
	
	&-value
		font-size 18px
		color #050909
		&s
			display flex
			padding-bottom 16px
		&:first-child
			&:after
				content ' — '
		&:last-child
			content ' '