.styleguide
	
	&__wrap
		padding-bottom 40px
		padding-right 40px
		flex-grow: 1
	h1
		font-size 64px
		font-weight bold
		padding-bottom 40px
	h2
		font-size 32px
		font-weight bold
		padding-bottom 40px
		margin-top 20px



