/* main styles */
.switch
	position relative

	&-wrap
		label
			display flex
			align-items center
			i
				margin-right 15px
				color rgba(0, 0, 0, 0.87)
				font-size 12px
				font-weight bold
				font-style normal
				
			input
				position absolute
				left -999999px
				& ~ span
					height 20px
					width 38px
					border-radius 10px
					position relative
					overflow hidden
					display inline-block
					background-color #c9c9c9
					cursor pointer
					
					b
						height 16px
						width 16px
						border-radius 50%
						background-color white
						position absolute
						left 2px
						top 2px
						transition 0.3s all
				
				&:checked ~ span
					background-image linear-gradient(93deg, #3023ae, #c86dd7)
					
					b
						left 20px
