.table
	width 100%
	font-size 12px
	position relative
	min-width: 1100px;
	width: 100vw;
	&:after
		content ''
		position absolute
		width 100%
		height 1px
		top 42px
		background #d8d8d8
	&__wrap
		position inherit
		max-width 1600px
		width: 100vw
		min-width 1180px
		padding 0 40px
		margin 0 auto
		position relative

	&-checkbox
		margin-top -4px

	&_nocheckbox
		.table-item
			&:first-child
				display none
	&__string
		display table-row
		vertical-align inherit
		vertical-align middle
		border-radius 5px
		box-shadow 0 4px 12px 0 rgba(0, 0, 0, 0)
		transition 0.3s box-shadow
		cursor pointer
		&:hover
			box-shadow 0 4px 12px 0 rgba(0, 0, 0, 0.15)
		&_head
			cursor default
			&:hover
				box-shadow none 
			.table-item
				padding 16px 10px
				color #4a4a4a
				white-space: nowrap
				&__text
					opacity 1

			
	&-item
		display table-cell
		padding 0 10px
		padding-top 14px
		padding-bottom 10px
		text-align -internal-center
		vertical-align middle
		position relative
		&:last-child
			width 200px
		&:not(.head)
			&:after
				content: '';
				width: 30px;
				position: absolute;
				height: 30px;
				left: 4px;
				top: calc(50% - 15px);
				z-index: 2;
		&__number
			box-shadow 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12)
			background-image linear-gradient(135deg, #3023ae, #c86dd7), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0))
			position absolute
			border-radius 20px
			letter-spacing -0.7px
			text-align center
			display flex
			justify-content center
			align-items center
			color white
			height 16px
			width 16px
			font-size 10px
			right -3px
			top -3px
		
		&-arrows
			width 12px
			position relative
			margin-left 5px
			&:after
				content ''
				position absolute
				border 6px solid transparent
				border-bottom 6px solid #d8d8d8
				width auto
				top -13px
				left 0
			&:before
				content ''
				position absolute
				border 6px solid transparent
				border-top 6px solid #d8d8d8
				width auto
				top 1px
				left 0
			&.filter-up
				&:after
					border-bottom 6px solid #3023ae
			&.filter-down
				&:before
					border-top 6px solid #3023ae
				
		
		&__avatar
			width 50px
			height 50px
			min-width 50px
			min-height 50px
			border-radius 50%
			background #eaeaea
			margin-right 20px
			background-size cover
			background-position center
			position relative
			&_chat
				&:after
					content ''
					position absolute
					background-image url('../imgs/icon-chat.svg')
					background-repeat no-repeat
					width 24px
					height 24px
					top 15px
					left 14px
					opacity 0
					transition 0.3s opacity
					z-index 2
				&:before
					content ''
					position absolute
					background black
					top 0px
					left 0px
					bottom 0
					right 0
					border-radius 50%
					opacity 0
					transition 0.3s opacity
			&_car
				&:after
					width 16px
					height 17px
					position absolute
					content ''
					right -3px
					bottom -5px
					border-radius 3px
					background-color white
					background-position center
					background-repeat no-repeat
					background-image url('../imgs/icon-p.svg')
					box-shadow 0 3px 10px 0 rgba(0, 0, 0, 0.4)
				
			&:hover
				&:after
					opacity 1
				&:before
					opacity 0.4

		&__images
			width 50px
			height 50px
			position relative
			margin-right 20px
			background #eaeaea
			background-size cover
			background-position center
			&:after
				content ''
				position absolute
				background-image linear-gradient(135deg, #3023ae, #c86dd7)
				opacity 0
				top 0
				left 0
				right 0
				bottom 0
				transition 0.3s opacity
			&:before
				content ''
				position absolute
				background-image url('../imgs/icon-zoom.svg')
				transition 0.3s opacity
				z-index 2
				opacity 0
				top 8px
				left 8px
				width 35px
				height 35px
			&:hover
				&:after
					opacity 0.7
				&:before
					opacity 1

		&__title
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;
			color: #000;
			position: relative;
			span
				// white-space: normal !important;
				display: inline-block;
				vertical-align: top;
				padding-right: 7px;
			i
				font-style: normal
				span
					white-space normal
			.colorHex
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				float: right;
				position: relative;
				box-shadow: 0 1px 2px rgba(0,0,0,0.3);
				top: 6px;
				left: -4px;
		&__text
			line-height 1.33
			color: rgba(0, 0, 0, 0.5)
			position relative
			b
				right: -40px;
				top: -2px;

		&__container
			display flex
			align-items center

		&.static
			max-width 250px
			width 250px
	
	&-body
		display table
		width 100%
		table-layout: fixed
		&__wrap
			display table-row-group
			vertical-align middle

.small-width
	width: 7%
.medium-width
	width: 9%
.table-row-rate
	height: 17px;
	width: 17px;
	display: block;
	position: absolute;
	border-radius: 8px;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 0 6px 0 rgba(0,0,0,0.12);
	background-image: linear-gradient(135deg, #3023ae, #c86dd7), linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.1) 5%, rgba(255,255,255,0) 20%, rgba(255,255,255,0));
	background-origin: border-box;
	background-clip: content-box, border-box;
	font-size: 10px;
	line-height: 17px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	right: -3px;
	top: -3px;
	letter-spacing: -1px;
	color: #fff;
.align-center
	.table-item__container
		justify-content center
	
	p.table-item__text
		display flex
		justify-content center
.table_zero
	text-align center
	padding 35px
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: rgba(0, 0, 0, 0.3)
	width 100%