.textarea
	display flex
	flex-direction column
	transition: .3s;
	label
		opacity 0.8
		transition: .3s;
		font-size 12px
		color #050909
		padding-bottom 10px
	textarea
		height 90px
		width 100%
		color #050909
		font-size 18px
		padding 8px 15px
		transition: .3s;
		border-radius 5px
		border solid 1px #d8d8d8
		resize none
		+placeholder()
			color rgba(0,0,0,0.5)
	textarea.error
		border solid 1px rgb(255, 91, 91);
		transition: .3s;
		color #050909
		+ label
			color #050909

	&:disabled, &.disabled, [disabled]	
		cursor default
		pointer-events none
		background-color: #eee;
		+placeholder()
			color rgba(5, 9, 9, 0.3)