<title>PayDrivers</title><meta charset="UTF-8"/><meta name="viewport" content="width=1280, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/><meta content="true" name="HandheldFriendly"/><meta content="width" name="MobileOptimized"/><meta content="telephone=no" name="format-detection"/><meta content="address=no" name="format-detection"/><meta content="no-cache" http-equiv="Cache-Control"/><meta content="yes" name="mobile-web-app-capable"/><style>/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-display swap;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display swap;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-display swap;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display swap;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    font-display swap;
}


/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display swap;
}
</style><link rel="stylesheet" href="/assets/css/css.css"/><link rel="apple-touch-icon" sizes="180x180" href="/assets/imgs/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="/assets/imgs/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="/assets/imgs/favicon-16x16.png"/><link rel="manifest" href="/assets/imgs/manifest.json"/><link rel="mask-icon" href="/assets/imgs/safari-pinned-tab.svg" color="#5bbad5"/><link rel="shortcut icon" href="/assets/imgs/favicon.ico"/><meta name="msapplication-config" content="/assets/imgs/browserconfig.xml"/><meta name="theme-color" content="#ffffff"/><meta name="application-name" content=" "/><meta name="msapplication-TileColor" content="#FFFFFF"/><meta name="msapplication-TileImage" content="mstile-144x144.png"/><meta name="msapplication-square70x70logo" content="mstile-70x70.png"/><meta name="msapplication-square150x150logo" content="mstile-150x150.png"/><meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/><meta name="msapplication-square310x310logo" content="mstile-310x310.png"/><meta property="og:title"/><meta property="og:description"/><meta property="og:type"/><meta property="og:url"/><meta property="og:image"/><meta property="og:image:height"/><meta property="og:image:width"/><meta name="description"/><meta name="copyright"/>