// шаблон для контента, т.к. у нас много разны страниц, 
// сюда вбудут рендириться, в зависимости от роута
script(type="text/x-template"  id="template-content")
	div
		// если админка
		div(
			v-if="(route[0]=='admin')"
		)
			// только в чат отправляю списки 
			// непрочитанных сообщений и нотификации
			vue-admin-chat(
				v-if="route[1]=='chat'"
				:router="route"
				:unread_messages_list="unread_messages_list"
				:unread_messages_total="unread_messages_total"
			)
			
			//- общие виды
			// если настройки
			vue-admin-settings(
				v-if="route[1]=='settings'"
				:router="route"
			)
			vue-admin-dashboard(
				v-if="route[1]=='dashboard'",
				:router="route"
			)
			vue-admin-blacklist(
				v-if="route[1]=='blacklist'",
				:router="route"
			)
			vue-admin-history(
				v-if="route[1]=='history'"
				:router="route"
			)
			vue-admin-news(
				v-if="route[1]=='news'"
				:router="route"
			)

			vue-admin-race(
				v-if="route[1]=='race'"
				:router="route"
			)

			vue-admin-points(
				v-if="route[1]=='points'"
				:router="route"
			)
