script(type="text/x-template"  id="template-header")
	header#header.header(v-if="route[0]=='admin'")
			.wrap.header__wrap
				.header__item
					a(href="/").header-logo
						img(src="/assets/imgs/logo.svg")
					nav.header-nav
						ul.header-nav__list
							li.header-nav__item(
								:class="route[1]=='dashboard' ? 'active' : ''"
							)
								a(data-href="/admin/dashboard", @click.prevent="changePage", href="#") Рек. кампании
							li.header-nav__item(
								:class="route[1]=='blacklist' ? 'active' : ''"
							)
								a(data-href="/admin/blacklist", @click.prevent="changePage", href="#") Черн. список
							li.header-nav__item(
								:class="route[1]=='history' ? 'active' : ''"
							)
								a(data-href="/admin/history", @click.prevent="changePage", href="#") История
							li.header-nav__item(
								:class="route[1]=='points' ? 'active' : ''"
							)
								a(data-href="/admin/points", @click.prevent="changePage", href="#") Оклейка
							li.header-nav__item(
								:class="route[1]=='chat' ? 'active' : ''"
								style="position: relative"
							)
								.header-notifications__count(
									v-if="unread_messages_total"
								) {{unread_messages_total}}
								a(data-href="/admin/chat", @click.prevent="changePage", href="#") Чат
							li.header-nav__item(
								:class="route[1]=='settings' ? 'active' : ''"
							)
								a(data-href="/admin/settings", @click.prevent="changePage", href="#") Настройки
							//- li.header-nav__item(:class="route[1]=='news'?'active':''")
							//- 	a(href="/admin/news") Новости


				.header__item
					.header-balance Баланс
						span {{balance_sms}} кред.
					div.header-notifications-wrap
						a(
							href="#", 
							@click.prevent="openNotificationPopup"
						).header-notifications
							img(src="/assets/imgs/icon-bell.svg").header-notifications__icon
							.header-notifications__count(
								v-if="notification_count"
							) {{notification_count}}

					a(
						href="#axModel", 
						data-toggle="modal",
						data-target="#axModel"
					).header-user {{ profilename }}
					a(href="#", @click.prevent="logout").header-logout
						img(src="/assets/imgs/icon-logout.svg")

	header#header.header-cabinet(v-else-if="route[0]=='client'")
			.wrap.header-cabinet__wrap
				.header__item
					a(href="#").header-logo
						img(
							src="/assets/imgs/logo.svg", 
							width="157px"
						)
					form.header-selects
						.header-selects__item
							.select
								vue-select Рекламная кампания
						.header-selects__item
							.select
								vue-select Рекламный носитель
						.header-selects__item
							.select
								vue-select Радиус

				.header__item
					a.header-user(href="#axModel", data-toggle="modal", data-target="#axModel") {{ profilename }}
					a.header-logout(href="#", @click.prevent="logout")
						img(src="/assets/imgs/icon-logout.svg")