doctype
html
	//- Примитивы
	include ../components/admin-search.vue.pug
	include ../components/admin-tabs.vue.pug
	include ../components/admin-create.vue.pug

	include ../components/inputs.vue.pug
	include ../components/buttons.vue.pug
	include ../components/selects.vue.pug
	include ../components/player.vue.pug
	include ../components/table.vue.pug
	include ../components/auto-popup.vue.pug
	include ../components/auto-notify.vue.pug
	include ../components/points-popup.vue.pug


	//- Хедер
	include ../layout/header.vue.pug
	include ../layout/modal.vue.pug
	include ../layout/content.vue.pug

	//- админка

	include ../pages/admin/admin-points.vue.pug
	include ../pages/admin/admin-settings.vue.pug
	include ../pages/admin/admin-dashboard.vue.pug
	include ../pages/admin/admin-blacklist.vue.pug
	include ../pages/admin/admin-history.vue.pug
	include ../pages/admin/admin-race.vue.pug

	include ../pages/admin/admin-chat.vue.pug

	// пока не актуально
	//- include ../pages/admin/admin-news.vue.pug
	


	// заголовки страницы
	head
		include head.vue.pug

	// тело страницы
	body
		//- Основной блок приложения vue
		//- appCloseItem - метод который дергает событие закрытия пдобных моментов
		#app(
			:style="{'opacity': isOnline && pageLoadIsFull ? 1 : .1}",
			:class="{'offline': !isOnline}",
			:route="typeAuthRoute[1]",
			@mouseup="appCloseItem(true)",
			@keydown.esc="appCloseItem('esc')"
		)
			.main
				.wrap-height
					// попап для нотификации. показываю его когда нажимаю
					vue-admin-notify-popup(
						v-if="is_nofify_popup && unchecked_notify.last_history"
						:unchecked_notify="unchecked_notify"
					)

					
					//- попап для верификации.
					//- глобальный для админа
					//- показываю если есть переданный верификайш ади
					vue-admin-verification-popup(
						v-if="verification"
						:verification="verification"
					)

					//- хедер приложения
					//- если аутифицировался
					//- и передаю туда тип роута - admin/client
					vue-header(
						v-if="isAuth"
						:route="typeAuthRoute"
						:balance_sms="balance_sms"
						:unread_messages_total="unread_messages_total"
						:notification_count="unchecked_notify.count"
						style="position: relative; z-index: 1; background: white;"
					)
					//- контент приложения
					//- если аутифицировался
					//- передаю адресную строку
					app-content(
						v-if="isAuth"
						:route="typeAuthRoute"
						:unread_messages_list="unread_messages_list"
						:unread_messages_total="unread_messages_total"
					)
					//- :current_messages_list="current_messages_list"


				//- если аутифицировался
				//- футер приложения
				include footer.vue.pug

			//- Модальные окна
			app-auth(
				:modal-type="typeAuthRoute[1]"
				v-if="!isAuth"
			)

		//- подключение скриптов
		include scripts.vue.pug