script(type="text/x-template"  id="template-modal")
	.modal.fade#auth(style="display: none;" tabindex="-1" role="dialog" aria-labelledby="auth" aria-hidden="true")
		.modal-dialog(role='document')
			.modal-content
				.modal-body
					.wrap.modal__wrap
						.modal-block(v-if="modalType == 'login'", v-on:keyup.enter="loginText && passwordText&&logIn()",  v-on:keyup.ctrl.enter="loginText && passwordText &&logIn()")
							.modal-block-logo
								img(src="/assets/imgs/logo.svg" width="157px")
							.login
								.modal-input
									vue-input(value="", v-model="loginText", type="input", name='login' , placeholder="Логин") Логин
								.modal-input
									vue-input(value="", v-model="passwordText", type="password", name='password' , placeholder="Пароль") Пароль
								.modal__row
									vue-button(v-bind:gradient="true", :disabled="!(loginText && passwordText)", @click.native="logIn") Войти
									a(data-href="/auth/recovery", @click.prevent="changePage", href="#" ).modal__link Забыли пароль?

						.modal-block(v-if="modalType == 'recovery'", v-on:keyup.enter="isEmailValid && recovery()",  v-on:keyup.ctrl.enter="isEmailValid &&recovery()")
							.modal-block-logo
								img(src="/assets/imgs/logo.svg" width="157px")
							.recovery
								h3.modal__title Восстановление доступа
								.modal-input
									vue-input(
										value="",
										type="email", 
										:required="true", 
										v-model="recoveryEmail",
										name='email' ,
										placeholder="Почта"
									) Почта
								.modal__row
									vue-button(v-bind:gradient="true", @click.native="recovery", :disabled="!isEmailValid") Напомнить пароль
									a(data-href="/auth/login", @click.prevent="changePage", href="#").modal__link Войти с паролем

						.modal-block(v-if="modalType == 'message'")
							.modal-block-logo
								img(src="/assets/imgs/logo.svg" width="157px")
							.message
								h3.modal__title Новый пароль выслан на почту!
								vue-button(v-bind:gradient="true", @click.native="goAuth") Войти с паролем
								.modal__row
									p.modal__text Не пришел пароль?
									a(data-href="/auth/recovery", @click.prevent="changePage", href="#").modal__link Выслать заново