script(src="/assets/js/app.min.js")
script(src="https://cdn.jsdelivr.net/sockjs/1.0/sockjs.min.js")
script(type="text/javascript", src="//api-maps.yandex.ru/2.1?lang=ru_RU&apikey=a4b631ec-11c2-4b9d-9903-a6a51cd41c59")
