mixin table-auto()
	section.table.table_nocheckbox
		.table__wrap
			.table-body
				.table-body__wrap
					.table__string.table__string_head
						.table-item
							.table-item__container
								.table-item__avatar(style="background-image: url('./assets/imgs/picture.jpg')").table-item__avatar_car
									.table-item__number 1,5
								.table-item__wrap
									p.table-item__title Peugeot 308
									p.table-item__text Серебристый универсал,
										span 2014
						.table-item.static
							.table-item__container
								p.table-item__text Автомобиль
								.table-item-arrows.filter-up
						.table-item.align-center
							.table-item__container
								p.table-item__text За сегодня
								.table-item-arrows
						.table-item.align-center
							.table-item__container
								p.table-item__text Всего
								.table-item-arrows.filter-down
						.table-item.align-center
							.table-item__container
								p.table-item__text Тип устройства
								.table-item-arrows
						.table-item.static
							.table-item__container
								p.table-item__text Водитель
								.table-item-arrows
					.table__string
						.table-item
							label.control.control--checkbox.table-checkbox
								input.checkbox(type="checkbox")
								span.control__indicator
						.table-item
							.table-item__container
								.table-item__avatar(style="background-image: url('./assets/imgs/picture.jpg')").table-item__avatar_car
									.table-item__number 1,5
								.table-item__wrap
									p.table-item__title Renault Megane
									p.table-item__text Синий хетчбек,
										span 2008
						.table-item.align-center
							p.table-item__text
								span 31
						.table-item.align-center
							p.table-item__text
								span 163
						.table-item.align-center
							p.table-item__text Sony Xperia XA1
						.table-item
							.table-item__container
								.table-item__avatar.table-item__avatar_chat(style="background-image: url('./assets/imgs/picture.jpg')")
								.table-item__wrap
									p.table-item__title Валерия Ничиповец
									p.table-item__text
										span 21 год
