mixin table-nocheckbox()
	section.table.table_nocheckbox
		.table__wrap
			.table-body
				.table-body__wrap
					.table__string.table__string_head
						.table-item
							.table-item__container
								label.control.control--checkbox.table-checkbox
									input.checkbox(type="checkbox")
									span.control__indicator
						.table-item.static
							.table-item__container
								p.table-item__text Водитель
								.table-item-arrows.filter-up
						.table-item.align-center
							.table-item__container
								p.table-item__text Просмотры
								.table-item-arrows
						.table-item.align-center 
							.table-item__container
								p.table-item__text Поделиться
								.table-item-arrows.filter-down
						.table-item.static
							.table-item__container
								p.table-item__text Автомобиль
								.table-item-arrows
						.table-item.static
							.table-item__container
								p.table-item__text Фотографии во время просмотра
								.table-item-arrows
					.table__string
						.table-item
							label.control.control--checkbox.table-checkbox
								input.checkbox(type="checkbox")
								span.control__indicator
						.table-item
							.table-item__container
								.table-item__avatar.table-item__avatar_chat(style="background-image: url('./assets/imgs/picture.jpg')")
								.table-item__wrap
									p.table-item__title Валерия Ничиповец
									p.table-item__text
										span 21 год
						.table-item.align-center
							p.table-item__text
								span 21
						.table-item.align-center
							p.table-item__text
								span 1 раз
						.table-item
							.table-item__container
								.table-item__avatar(style="background-image: url('./assets/imgs/picture.jpg')").table-item__avatar_car
									.table-item__number 1,5
								.table-item__wrap
									p.table-item__title Renault Megane
									p.table-item__text Синий хетчбек, 2008
						.table-item
							.table-item__container
								.table-item__images(style="background-image: url('./assets/imgs/picture.jpg')")
								.table-item__wrap
									p.table-item__title Фото во время просмотра
									p.table-item__text
										span 7 марта 21:18
					.table__string
						.table-item
							label.control.control--checkbox.table-checkbox
								input.checkbox(type="checkbox")
								span.control__indicator
						.table-item
							.table-item__container
								.table-item__avatar.table-item__avatar_chat(style="background-image: url('./assets/imgs/picture.jpg')")
								.table-item__wrap
									p.table-item__title Валерия Ничиповец
									p.table-item__text
										span 21 год
						.table-item.align-center
							p.table-item__text
								span 21
						.table-item.align-center
							p.table-item__text
								span 1 раз
						.table-item
							.table-item__container
								.table-item__avatar(style="background-image: url('./assets/imgs/picture.jpg')").table-item__avatar_car
									.table-item__number
										span 1,5
								.table-item__wrap
									p.table-item__title Валерия Ничиповец
									p.table-item__text Синий хетчбек, 2008
						.table-item
							.table-item__container
								.table-item__images(style="background-image: url('./assets/imgs/picture.jpg')")
								.table-item__wrap
									p.table-item__title Фото во время просмотра
									p.table-item__text
										span 7 марта 21:18
					.table__string
						.table-item
							label.control.control--checkbox.table-checkbox
								input.checkbox(type="checkbox")
								span.control__indicator
						.table-item
							.table-item__container
								.table-item__avatar.table-item__avatar_chat(style="background-image: url('./assets/imgs/picture.jpg')")
								.table-item__wrap
									p.table-item__title Валерия Ничиповец
									p.table-item__text
										span 21 год
						.table-item.align-center
							p.table-item__text
								span 21
						.table-item.align-center
							p.table-item__text
								span 1 раз
						.table-item
							.table-item__container
								.table-item__avatar(style="background-image: url('./assets/imgs/picture.jpg')").table-item__avatar_car
									.table-item__number
										span 1,5
								.table-item__wrap
									p.table-item__title Валерия Ничиповец
									p.table-item__text Синий хетчбек,
										span 2008
						.table-item
							.table-item__container
								.table-item__images(style="background-image: url('./assets/imgs/picture.jpg')")
								.table-item__wrap
									p.table-item__title Фото во время просмотра
									p.table-item__text
										span 7 марта 21:18
